# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
#Import your libraries

import numpy as np
import pandas as pd

# Introduction

In this lab, we will use two datasets. Both datasets contain variables that describe apps from the Google Play Store. We will use our knowledge in feature extraction to process these datasets and prepare them for the use of a ML algorithm.

# Challenge 1 - Loading and Extracting Features from the First Dataset

#### In this challenge, our goals are: 

* Exploring the dataset.
* Identify the columns with missing values.
* Either replacing the missing values in each column or drop the columns.
* Conver each column to the appropriate type.

#### The first dataset contains different information describing the apps. 

Load the dataset into the variable `google_play` in the cell below. The dataset is in the file `googleplaystore.csv`

In [2]:
# Your code here:

google_play = pd.read_csv('googleplaystore.csv')

#### Examine all variables and their types in the following cell

In [3]:
google_play.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

#### Since this dataset only contains one numeric column, let's skip the `describe()` function and look at the first 5 rows using the `head()` function

In [4]:
google_play.describe

<bound method NDFrame.describe of                                                      App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating Reviews                Size     Installs  Type Price  \
0         4.1     159                 19M      10,000+  Free     0
1         3.9     967                 14M     500,000+  Free     0
2         4.7   87510                8.7M   5,000,000+  Free     0
3         4.5  215644                 25M  50,000,000+  Free     0
4         4.3     967                2.8M     100,000+  Free     0
...       ...     ...                 ...          ...   ...   ...
10836     4.5      38                 53M       5,000+  Free     0
10837     5.0       4                3.6M         100+  Free     0
10838     NaN       3                9.5M       1,000+  Free     0
10839     4.5     114  Varies with device       1,000+  Free     0
10840     4.5  398307                 19M  10,000,000+  Free     0

      Content Rating                     Genres      Last Updated  \
0           Everyone               Art & Design   January 7, 2018
1           Everyone  Art & Design;Pretend Play  January 15, 2018
2           Everyone               Art & Design    August 1, 2018
3               Teen               Art & Design      June 8, 2018
4           Everyone    Art & Design;Creativity     June 20, 2018
...              ...                        ...               ...
10836       Everyone                  Education     July 25, 2017
10837       Everyone                  Education      July 6, 2018
10838       Everyone                    Medical  January 20, 2017
10839     Mature 17+          Books & Reference  January 19, 2015
10840       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                   1.2.4        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10836                1.48          4.1 and up
10837                 1.0          4.1 and up
10838                 1.0          2.2 and up
10839  Varies with device  Varies with device
10840  Varies with device  Varies with device

[10841 rows x 13 columns]>

In [5]:
google_play.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

#### We can see that there are a few columns that could be coerced to numeric.

Start with the reviews column. We can evaluate what value is causing this column to be of object type finding the non-numeric values in this column. To do this, we recall the `to_numeric()` function. With this function, we are able to coerce all non-numeric data to null. We can then use the `isnull()` function to subset our dataframe using the True/False column that this function generates.

In the cell below, transform the Reviews column to numeric and assign this new column to the variable `Reviews_numeric`. Make sure to coerce the errors.

In [6]:
google_play['Reviews_numeric'] = pd.to_numeric(google_play.Reviews, errors='coerce')

Next, create a column containing True/False values using the `isnull()` function. Assign this column to the `Reviews_isnull` variable.

In [7]:
google_play['Reviews_isnull'] = google_play['Reviews_numeric'].isnull()

In [8]:
google_play.Reviews_isnull.sum()

1

Finally, subset the `google_play` with `Reviews_isnull`. This should give you all the rows that contain non-numeric characters.

Your output should look like:

![Reviews_bool.png](reviews-bool.png)

In [9]:
google_play[google_play.Reviews_isnull]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,NaN,True

#### We see that Google Play is using a shorthand for millions. 

Let's write a function to transform this data.

Steps:

1. Create a function that returns the correct numeric values of *Reviews*.
1. Define a test string with `M` in the last character.
1. Test your function with the test string. Make sure your function works correctly. If not, modify your functions and test again.

In [20]:
# Your code here

def convert_string_to_numeric(s):
#don't know this line    if s.ends('M'):
        numeric = float(s[:-1])*1000000
        return numeric 

    else: 
        test_string = '4.0M'
        return float(s) 

convert_string_to_numeric("test_string") == 4000000

AttributeError: 'str' object has no attribute 'ends'

The last step is to apply the function to the `Reviews` column in the following cell:

In [ ]:
google_play.Reviews = google_play.Reviews.apply(convert_string_to_numeric)

Check the non-numeric `Reviews` row again. It should have been fixed now and you should see:

![Reviews_bool_fixed.png](reviews-bool-fixed.png)

In [ ]:
google_play[google_play.Reviews_isnull]

Also check the variable types of `google_play`. The `Reviews` column should be a `float64` type now.

In [ ]:
google_play["Reviews"].dtypes

#### The next column we will look at is `Size`. We start by looking at all unique values in `Size`:

*Hint: use `unique()` ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html))*.

In [ ]:
google_play.Size.unique()

In [ ]:
len(google_play.Size.unique())

You should have seen lots of unique values of the app sizes.

#### While we can convert most of the `Size` values to numeric in the same way we converted the `Reviews` values, there is one value that is impossible to convert.

What is that badass value? Enter it in the next cell and calculate the proportion of its occurence to the total number of records of `google_play`.

In [ ]:
badass = '?' #could not execute before
google_play[google_play.Size == badass].shape[0]/google_play.shape[0]

#### While this column may be useful for other types of analysis, we opt to drop it from our dataset. 

There are two reasons. First, the majority of the data are ordinal but a sizeable proportion are missing because we cannot convert them to numerical values. Ordinal data are both numerical and categorical, and they usually can be ranked (e.g. 82k is smaller than 91M). In contrast, non-ordinal categorical data such as blood type and eye color cannot be ranked. The second reason is as a categorical column, it has too many unique values to produce meaningful insights. Therefore, in our case the simplest strategy would be to drop the column.

Drop the column in the cell below (use `inplace=True`)

In [ ]:
google_play.drop(labels=['Size'], inplace=True, axis=1)

#### Now let's look at how many missing values are in each column. 

This will give us an idea of whether we should come up with a missing data strategy or give up on the column all together. In the next column, find the number of missing values in each column: 

*Hint: use the `isna()` and `sum()` functions.*

In [ ]:
google_play.isna().sum()

You should find the column with the most missing values is now `Rating`.

#### What is the proportion of the missing values in `Rating` to the total number of records?

Enter your answer in the cell below.

In [ ]:
google_play.Rating.isnull().sum()/google_play.Rating.shape[0]

A sizeable proportion of the `Rating` column is missing. A few other columns also contain several missing values.

#### We opt to preserve these columns and remove the rows containing missing data.

In particular, we don't want to drop the `Rating` column because:

* It is one of the most important columns in our dataset. 

* Since the dataset is not a time series, the loss of these rows will not have a negative impact on our ability to analyze the data. It will, however, cause us to lose some meaningful observations. But the loss is limited compared to the gain we receive by preserving these columns.

In the cell below, remove all rows containing at least one missing value. Use the `dropna()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)). Assign the new dataframe to the variable `google_missing_removed`.

In [ ]:
google_missing_removed = google_play.dropna()

From now on, we use the `google_missing_removed` variable instead of `google_play`.

#### Next, we look at the `Last Updated` column.

The `Last Updated` column seems to contain a date, though it is classified as an object type. Let's convert this column using the `pd.to_datetime` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)).

In [ ]:
google_missing_removed['Last Updated'] = pd.to_datetime(google_missing_removed['Last Updated'])
google_missing_removed.dtypes

#### The last column we will transform is `Price`. 

We start by looking at the unique values of this column.

In [ ]:
google_missing_removed.Price.unique()

In [ ]:
len(google_missing_removed.Price.unique())

Since all prices are ordinal data without exceptions, we can tranform this column by removing the dollar sign and converting to numeric. We can create a new column called `Price Numerical` and drop the original column.

We will achieve our goal in three steps. Follow the instructions of each step below.

#### First we remove the dollar sign. Do this in the next cell by applying the `str.replace` function to the column to replace `$` with an empty string (`''`).

In [ ]:
google_missing_removed['Price Numerical'] = google_missing_removed.Price.str.replace('$', '')

#### Second step, coerce the `Price Numerical` column to numeric.

In [ ]:
google_missing_removed['Price Numerical'] = pd.to_numeric(google_missing_removed['Price Numerical'], errors='

**Finally, drop the original `Price` column.**

In [ ]:
google_missing_removed.drop(labels='Price', axis=1, inplace=True)

Now check the variable types of `google_missing_removed`. Make sure:

* `Size` and `Price` columns have been removed.
* `Rating`, `Reviews`, and `Price Numerical` have the type of `float64`.
* `Last Updated` has the type of `datetime64`.

In [ ]:
google_missing_removed.dtypes

# Challenge 2 - Loading and Extracting Features from the Second Dataset

Load the second dataset to the variable `google_reviews`. The data is in the file `googleplaystore_user_reviews.csv`.

In [ ]:
# Your code here:

google_reviews = pd.read_csv('googleplaystore_user_reviews.csv')

#### This dataset contains the top 100 reviews for each app. 

Let's examine this dataset using the `head` function

In [ ]:
google_reviews.head(100)

#### The main piece of information we would like to extract from this dataset is the proportion of positive reviews of each app. 

Columns like `Sentiment_Polarity` and `Sentiment_Subjectivity` are not to our interests because we have no clue how to use them. We do not care about `Translated_Review` because natural language processing is too complex for us at present (in fact the `Sentiment`, `Sentiment_Polarity`, and `Sentiment_Subjectivity` columns are derived from `Translated_Review` the data scientists). 

What we care about in this challenge is `Sentiment`. To be more precise, we care about **what is the proportion of *Positive* sentiment of each app**. This will require us to aggregate the `Sentiment` data by `App` in order to calculate the proportions.

Now that you are clear about what we are trying to achieve, follow the steps below that will walk you through towards our goal.

#### Our first step will be to remove all rows with missing sentiment. 

In the next cell, drop all rows with missing data using the `dropna()` function and assign this new dataframe to `review_missing_removed`.

In [ ]:
review_missing_removed = google_reviews.dropna()

#### Now, use the `value_counts()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) to get a sense on how many apps are in this dataset and their review counts.

In [ ]:
review_missing_removed.App.value_counts()

#### Now the tough part comes. Let's plan how we will achieve our goal:

1. We will count the number of reviews that contain *Positive* in the `Sentiment` column.

1. We will create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app.

1. We will then loop the new dataframe to calculate the postivie review portion of each app.

#### Step 1: Count the number of positive reviews.

In the following cell, write a function that takes a column and returns the number of times *Positive* appears in the column. 

*Hint: One option is to use the `np.where()` function ([documentation](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html)).*

#### Step 2: Create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app

We will group `review_missing_removed` by the `App` column, then aggregate the grouped dataframe on the number of positive reviews and the total review counts of each app. The result will be assigned to a new variable `google_agg`. Here is the ([documentation on how to achieve it](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)). Take a moment or two to read the documentation and google examples because it is pretty complex.

When you obtain `google_agg`, check its values to make sure it has an `App` column as its index as well as a `Positive` column and a `Total` column. Your output should look like:

![Positive Reviews Agg](positive-review-agg.png)

*Hint: Use `positive_function` you created earlier as part of the param passed to the `agg()` function in order to aggregate the number of positive reviews.*

#### Bonus:

As of Pandas v0.23.4, you may opt to supply an array or an object to `agg()`. If you use the array param, you'll need to rename the columns so that their names are `Positive` and `Total`. Using the object param will allow you to create the aggregated columns with the desirable names without renaming them. However, you will probably encounter a warning indicating supplying an object to `agg()` will become outdated. It's up to you which way you will use. Try both ways out. Any way is fine as long as it works.

In [21]:
# Your code below

def positive_function(x):
    return x.str.contains('Positive').sum()
    """
    Count how many times the string `Positive` appears in a column (exact string match).
    
    Args:
        x: data column
    
    Returns:
        The number of occurrences of `Positive` in the column data.
    """

In [22]:
google_agg = review_missing_removed.groupby('App').agg(Positive=('Sentiment', positive_function), Total=('App'))

NameError: name 'review_missing_removed' is not defined

Print the first 5 rows of `google_agg` to check it.

In [23]:
google_agg.head(5)

NameError: name 'google_agg' is not defined

#### Add a derived column to `google_agg` that is the ratio of the `Positive` and the `Total` columns. Call this column `Positive Ratio`. 

Make sure to account for the case where the denominator is zero using the `np.where()` function.

In [26]:
google_agg['Positive Ratio'] = np.where(google_agg['Total'] != 0, google_agg['Positive']/google_agg['Total'])

NameError: name 'google_agg' is not defined

#### Now drop the `Positive` and `Total` columns. Do this with `inplace=True`.

In [ ]:
google_agg.drop(labels=['Total', 'Positive'], axis=1, inplace=True)

Print the first 5 rows of `google_agg`. Your output should look like:

![Positive Reviews Agg](positive-review-ratio.png)

In [ ]:
google_agg.head(5)

# Challenge 3 - Join the Dataframes

In this part of the lab, we will join the two dataframes and obtain a dataframe that contains features we can use in our ML algorithm.

In the next cell, join the `google_missing_removed` dataframe with the `google_agg` dataframe on the `App` column. Assign this dataframe to the variable `google`.

#### Let's look at the final result using the `head()` function. Your final product should look like:

![Final Product](google-final-head.png)

In [ ]:
google.head(5)

 # Challenge 4- Feature selection and modelling

Let's work with data about bank marketing.  You can find the dataset and description in the data folder
Please use RFE, RFECV and SelectFomModel  for selecting the features from your dataset.

Step 1. Check your data. Clean and encode them if necessary

In [33]:
bank_marketing = pd.read_csv('bank_marketing.csv')

C:\Users\dvjp3\AppData\Local\Temp\ipykernel_10540\1461984516.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  bank_marketing = pd.read_csv('bank_marketing.csv')

Step 2. List your features

In [34]:
bank_marketing.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1/1/2022,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1/1/2022,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1/1/2022,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1/1/2022,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1/1/2022,93.994,-36.4,4.857,5191.0,no

Step 3. Apply the RandomForestClassifier and LogisticRegression model with default parameters to your data 
What is the accuracy for your models?

In [40]:
bank_marketing.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate       object
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [41]:
X =bank_marketing[["duration", "pdays","previous", "campaign"]]
Y =bank_marketing['age']

In [42]:
bank_marketing.describe()

,age,duration,campaign,pdays,previous,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,7763.0
mean,40.02406,258.285010,2.567593,962.475454,0.172963,93.575664,-40.502600,3.621291,5191.0
std,10.42125,259.279249,2.770014,186.910907,0.494901,0.578840,4.628198,1.734447,0.0
min,17.00000,0.000000,1.000000,0.000000,0.000000,92.201000,-50.800000,0.634000,5191.0
25%,32.00000,102.000000,1.000000,999.000000,0.000000,93.075000,-42.700000,1.344000,5191.0
50%,38.00000,180.000000,2.000000,999.000000,0.000000,93.749000,-41.800000,4.857000,5191.0
75%,47.00000,319.000000,3.000000,999.000000,0.000000,93.994000,-36.400000,4.961000,5191.0
max,98.00000,4918.000000,56.000000,999.000000,7.000000,94.767000,-26.900000,5.045000,5191.0

In [44]:
import matplotlib.pyplot as mp
bank_marketing.corr()

C:\Users\dvjp3\AppData\Local\Temp\ipykernel_10540\2900719339.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  bank_marketing.corr()

,age,duration,campaign,pdays,previous,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
age,1.000000,-0.000866,0.004594,-0.034369,0.024365,0.000857,0.129372,0.010767,NaN
duration,-0.000866,1.000000,-0.071699,-0.047577,0.020640,0.005312,-0.008173,-0.032897,NaN
campaign,0.004594,-0.071699,1.000000,0.052584,-0.079141,0.127836,-0.013733,0.135133,NaN
pdays,-0.034369,-0.047577,0.052584,1.000000,-0.587514,0.078889,-0.091342,0.296899,NaN
previous,0.024365,0.020640,-0.079141,-0.587514,1.000000,-0.203130,-0.050936,-0.454494,NaN
cons.price.idx,0.000857,0.005312,0.127836,0.078889,-0.203130,1.000000,0.058986,0.688230,NaN
cons.conf.idx,0.129372,-0.008173,-0.013733,-0.091342,-0.050936,0.058986,1.000000,0.277686,NaN
euribor3m,0.010767,-0.032897,0.135133,0.296899,-0.454494,0.688230,0.277686,1.000000,NaN
nr.employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
bank_marketing.dropna(inplace=True)

In [47]:
bank_marketing.isna().sum()/bank_marketing.shape[0]

age               0.0
job               0.0
marital           0.0
education         0.0
default           0.0
housing           0.0
loan              0.0
contact           0.0
month             0.0
day_of_week       0.0
duration          0.0
campaign          0.0
pdays             0.0
previous          0.0
poutcome          0.0
emp.var.rate      0.0
cons.price.idx    0.0
cons.conf.idx     0.0
euribor3m         0.0
nr.employed       0.0
y                 0.0
dtype: float64

In [48]:
bank_marketing.age.unique()

array([56, 57, 37, 40, 45, 59, 41, 24, 25, 29, 35, 54, 46, 50, 39, 30, 55,
       49, 34, 52, 58, 32, 38, 44, 42, 60, 53, 47, 51, 48, 33, 31, 43, 36,
       28, 27, 26, 22, 23, 20, 21], dtype=int64)

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.3)


Step 4. Select features using SelectFromModel method. Explain, how you define the optimal number of features

In [56]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression

In [58]:
selector = SelectFromModel(estimator=LogisticRegression()).fit(X, Y)
selector.estimator_.coef_

C:\Users\dvjp3\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([[-2.63904481e-03, -3.15975165e-03, -2.27537757e-05,
        -4.39926209e-05],
       [ 4.05670532e-04, -1.74270245e-03, -2.49514636e-05,
        -1.21148814e-04],
       [ 2.17736722e-04, -1.10178153e-03, -7.56437087e-06,
        -6.61014475e-05],
       [ 7.77722136e-04, -7.29572751e-04,  4.55498219e-06,
        -8.05644114e-05],
       [ 8.40159234e-04, -2.50262657e-04, -3.98213280e-05,
        -1.81021175e-04],
       [ 8.52329145e-04,  3.99739991e-05, -2.13008566e-05,
        -1.26785998e-04],
       [ 1.59987761e-03,  3.71504645e-04,  2.57965087e-05,
        -9.18652890e-05],
       [ 1.80121087e-03,  1.05064053e-03,  1.43365042e-04,
        -6.97013751e-05],
       [ 1.47508255e-03,  1.42135178e-03,  3.75769357e-06,
         5.67536097e-04],
       [ 1.61443973e-03,  1.52259935e-03,  9.95591725e-05,
        -1.25163029e-05],
       [ 1.67827956e-03,  1.71741230e-03,  1.42121318e-04,
        -3.52775290e-05],
       [ 1.72819192e-03,  1.86848338e-03,  1.10340794e-04,
        -4.36800157e-04],
       [ 1.58625713e-03,  2.27965759e-03,  2.38308338e-04,
        -1.08072916e-04],
       [ 1.50617863e-03,  2.47775178e-03,  6.03043341e-05,
         9.15135400e-04],
       [ 1.52216055e-03,  2.61363805e-03,  9.24843311e-05,
        -8.37973558e-05],
       [ 1.46790198e-03,  2.57880417e-03,  7.24399650e-05,
         3.95112157e-05],
       [ 1.52353034e-03,  2.56036780e-03,  1.43153988e-04,
        -5.47575765e-04],
       [ 1.51724083e-03,  2.50164580e-03,  2.66587301e-04,
        -1.72737581e-04],
       [ 1.52078540e-03,  2.50199279e-03,  1.83141302e-04,
         1.13760908e-04],
       [ 1.41288214e-03,  2.55245261e-03,  6.97063485e-05,
         2.73304531e-04],
       [ 1.50580872e-03,  2.33153283e-03,  1.64356471e-04,
         9.60616304e-05],
       [ 1.58151279e-03,  2.26740545e-03,  6.49411259e-05,
         2.67472265e-05],
       [ 1.43539626e-03,  2.33060651e-03, -3.28865560e-05,
         1.33248399e-04],
       [ 1.27922575e-03,  2.16666878e-03, -4.64232418e-05,
         1.71765738e-04],
       [ 1.40726090e-03,  2.22305928e-03, -9.47583007e-06,
        -2.06639093e-04],
       [ 1.36706505e-03,  2.12519919e-03, -1.08309014e-04,
        -1.97281637e-05],
       [ 1.70369248e-03,  1.95649536e-03, -1.04417549e-04,
         4.02536837e-04],
       [ 1.30912191e-03,  2.02128137e-03, -7.57174614e-05,
         5.27151569e-05],
       [ 1.56293216e-03,  2.04154778e-03, -1.00671132e-04,
        -2.56650717e-04],
       [ 1.42203511e-03,  2.01376038e-03, -4.13531007e-05,
         1.79907312e-04],
       [ 1.27027161e-03,  1.94227636e-03, -6.73376065e-05,
         1.63684391e-04],
       [ 1.39872951e-03,  1.94509644e-03,  8.18773868e-06,
         1.07991641e-04],
       [ 1.13060549e-03,  1.87067160e-03, -5.86150371e-05,
         2.71441115e-05],
       [ 1.51701409e-03,  1.80808777e-03, -2.75853012e-05,
         2.68159062e-04],
       [ 1.20464892e-03,  1.73838617e-03,  1.91000734e-05,
        -2.03111403e-04],
       [ 1.45439110e-03,  1.70101119e-03, -1.09279205e-05,
         2.71961548e-04],
       [ 1.42725671e-03,  1.66191684e-03, -8.14027689e-05,
         5.66225048e-04],
       [ 1.42093259e-03,  1.58114978e-03, -3.47526285e-05,
         3.29436380e-04],
       [ 1.43998110e-03,  1.54178193e-03, -8.88860161e-05,
        -1.18107131e-04],
       [ 1.40376055e-03,  1.60788990e-03, -6.50807435e-05,
         3.70784117e-04],
       [ 1.50575801e-03,  1.51446527e-03, -1.05177139e-04,
         2.26947115e-04],
       [ 1.29447063e-03,  1.44471367e-03, -3.60149397e-05,
         8.36789701e-05],
       [ 1.55269726e-03,  1.15435964e-03, -6.60867547e-05,
         3.06043750e-04],
       [ 1.63941683e-03,  5.48306471e-04,  1.85908897e-05,
         4.19874958e-06],
       [ 6.09522699e-04, -6.66254483e-04,  1.20523652e-08,
        -1.20572162e-04],
       [ 7.95776946e-04, -9.52131259e-04,  3.41617917e-05,
        -1.05535060e-04],
       [ 1.00113170e-04, -7.86639144e-04, -9.11937282e-06,
        -1.58646128e-04],
       [ 7.23047542e-04, -9.11238176e-04, -9.02426156e-06,
        -1.15600142e-04],
       [ 3.28010456e-04, -1.19313463e-03,  1.43568482e-05,
        -8.59804011e-05],
       [ 1.60163659e-03, -1.14775671e-03, -2.29615574e-05,
        -9.73374418e-05],
       [-2.06171665e-03, -1.18477907e-03, -9.38728244e-06,
        -1.55372465e-05],
       [ 1.17211494e-04, -1.36976074e-03, -1.11081763e-05,
        -9.58345286e-05],
       [-1.79048763e-04, -1.24471548e-03, -4.40808355e-05,
        -8.21559930e-05],
       [ 5.94470000e-04, -1.11994572e-03, -1.81099612e-06,
        -1.03842097e-04],
       [ 2.36732798e-04, -7.86676413e-04, -2.56192927e-05,
        -1.41355281e-04],
       [-1.58763281e-03, -9.62834497e-04, -2.42827050e-05,
        -5.29884744e-05],
       [-9.70090728e-04, -1.02875480e-03, -2.60423434e-05,
        -1.21136908e-04],
       [ 3.42985567e-04, -1.44815308e-03, -2.56834502e-05,
        -9.28396081e-05],
       [-8.48836349e-04, -1.38350326e-03, -1.16784826e-05,
        -6.14344121e-05],
       [ 6.81712791e-04, -1.51970387e-03, -1.59663967e-05,
        -8.78186902e-05],
       [-1.93998169e-03, -1.61564057e-03,  1.02218858e-05,
        -5.63002176e-05],
       [-6.64528767e-05, -1.52695723e-03, -2.24868687e-05,
        -1.16340539e-04],
       [-3.02673405e-03, -1.56908378e-03, -2.09190644e-05,
        -9.06167613e-05],
       [ 6.00975220e-06, -1.44868118e-03, -1.09634791e-05,
        -9.43927810e-05],
       [-2.11482627e-03, -1.50827187e-03, -1.58364765e-05,
        -6.96925802e-05],
       [-2.50670813e-03, -1.55346089e-03, -1.83988603e-05,
        -5.96627410e-05],
       [-4.91321349e-04, -2.24114280e-03, -1.09705001e-05,
        -7.31361938e-05],
       [-3.24557819e-03, -2.74133469e-03, -2.51017819e-05,
        -4.88419095e-05],
       [-2.85945932e-03, -1.70187685e-03, -2.65083500e-05,
        -3.95971322e-05],
       [-3.08236986e-03, -2.36825641e-03, -3.00136908e-05,
        -7.64626662e-05],
       [-5.72606803e-03, -4.30444769e-03, -3.77266302e-05,
        -5.71141307e-05],
       [-2.99986934e-03, -1.04963194e-03, -5.01003773e-05,
        -5.68031308e-05],
       [-5.31455454e-03, -2.89477592e-03, -3.89316298e-05,
        -5.91231170e-05],
       [-4.38546482e-03, -2.98056991e-03, -3.58635802e-05,
        -5.89954512e-05],
       [-2.46137303e-03, -4.47651643e-03, -2.54704045e-05,
        -5.37387689e-05],
       [-6.00061439e-03, -4.29119017e-03, -3.45491553e-05,
        -5.65062960e-05],
       [-6.09812251e-03, -4.28655978e-03, -3.69939201e-05,
        -5.62957424e-05],
       [-4.81298380e-03, -4.34749607e-03, -3.44378396e-05,
        -5.40553587e-05]])

In [59]:
selector.threshold_

0.07235141725467975

In [60]:
selector.get_support()

array([ True,  True, False, False])

In [61]:
selector.transform(X)

array([[261, 999],
       [149, 999],
       [226, 999],
       ...,
       [189, 999],
       [442, 999],
       [239, 999]], dtype=int64)

In [62]:
len(selector.transform(X))

41188


Step 5. Apply the RandomForestClassifier and LogisticRegression model with default parameters to your data (only selected features). What is the accuracy for your models?

In [65]:
from sklearn.ensemble import RandomForestRegressor
 
# create regressor object
randomregressor = RandomForestRegressor(n_estimators=100, random_state=0)
 
# fit the regressor with x and y data
randomregressor.fit(X_train, Y_train)

RandomForestRegressor(random_state=0)

In [71]:
from sklearn.metrics import accuracy_score
Y_pred = randomregressor.predict(X_test)
accuracy_score(Y_test, Y_pred)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets


Step 6. Select features using RFE and RFECV methods. Explain, how you define the optimal number of features for each of the cases.

In [52]:
from sklearn.feature_selection import RFE
from sklearn import linear_model
lm = linear_model.LinearRegression()
rfe = RFE(lm, n_features_to_select=20, verbose=False)
rfe.fit(X, Y)

RFE(estimator=LinearRegression(), n_features_to_select=20, verbose=False)

In [53]:
from sklearn.feature_selection import RFECV

# lm from RFE code
rfe = RFECV(lm, verbose=False)   # for those that like to take advantage of multiple cores, n_jobs=-1
rfe.fit(X, Y)

RFECV(estimator=LinearRegression(), verbose=False)

Step 7. Apply the RandomForestClassifier and LogisticRegression model with default parameters to your data (you will have 4 models, taking into account two sets of features that you got). What is the accuracy for your models?










Step 8. Please make the conclusion about the utility of the feature selection