# 1.1 For the following variables, use Python to check the data type for the variables.

In [2]:
x1 = 1.1
type(x1)
 
x2 = "Ironhack"
type(x2)
 
x3 = "1.1"
type(x3)
 
x4 = True
type(x4)
 
x5 = "True"
type(x5)
 
x6 = -1
type(x6)

int

# 1.2 What is the difference between variables x1 and x3?

Even though they both have the value 1.1 stored in the variables, x1 is a float while x3 is a string (as it is encapsulated in double quotes). This being said, we can perform mathematical operations on x1 but not on x3.

# 1.3 What happens if you subtract x3 from x1?

You will get an error because you can’t subtract variables of a different type.

# 1.4 What is the difference between variables x4 and x5?

Even though they both have the value stored in the variables, x4 is a Boolean while x5 is a string (as it is encapsulated in double quotes). Booleans and strings have different operators and functions that can be used with them.

# 1.5 What happens if you subtract x5 from x4?

You will get an error because you can’t subtract variables of a different type.

# Exercise - Operators

2.1 In this problem we will show you how to take a user input. To gather input from the user, we can use the function input(message), where “message” is a meaningful message of type “str” to be displayed to the user.

Use the code and then answer the questions that follow:

In [3]:
x1 = input("Please enter an integer number: ")
 
x2 = input("Please enter another integer number: ")

Please enter an integer number: 1
Please enter another integer number: 2

# Question 1: Print the values of the two variables? 

As you would notice, data type of x1 and x2 is string. Even though we entered integers, the input function converts them into string by default. Now we do some data type conversion from string to integers:

In [5]:
x1 = int(x1) # This converts string into integer and re-initializes `x1`
x2 = int(x2) # This converts string into integer and re-initializes `x2`

# Question 2: What is the data type of x1 and x2?

Now perform simple comparisons between x1 and x2:

Check if the two variables are equal?

Check if x1 is greater than x2?

Check if x2 is greater than x1?

Check if x1 is not equal to x2?

Store the difference between the two variables x1 and x2 in another variable x3 (subtract the smaller number from the larger number).

Increment the smaller of the two variables (x1 and x2) with the difference.Use the shorthand addition operator for the same. Again check if x1 and x2 are equal or not?

In [6]:
x1 = input("Please enter an integer number: ")
print(x1)
print(type(x1)
 
x2 = input("Please enter another integer number: ")
print(x2)
print(type(x2)
 
# Data type for these variables is string even though integers were entered.
 
x1 = int(x1)  # This converts string into integer and re-initializes `x1`
x2 = int(x2)  # This converts string into integer and re-initializes `x2`
 
print(x1)
print(type(x1)
 
print(x2)
print(type(x2)
 
# Comparing the two variables now
x1 == x2
x1 > x2
x1 < x2
x1!=x2

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3909444247.py, line 3)

In [7]:
x3 = x2-x1
x1 = x1+x3 # this is the same as x1+=x3
 
x1 == x2

True

 2.2 In the lesson, we talked about math library in Python. Here is a link to the math library documentation. Go through the documentation and try any 3 or more functions on a numerical variable that were not described in the lesson.

In [8]:
import math
 
x = 2.123
math.ceil(x)
math.factorial(4)  # This is equivalent to 4*3*2*1
math.exp(1)  # Raises the argument in the power of exponent
math.log(10) # natural log - base `e`
math.log10(10) # Log to the base of 10
math.pow(2,4) # raises 2 to the power of 4

16.0

# Lesson: Conditional statements

#Exercise - Conditional Statements

1.1 Ask the user to input a number (should be integer). Check if the number is even or odd. Remember that 0 is neither even nor odd.

In [9]:
a = input("Please input an integer: ")
a = int(a)
if a == 0:
    print('a is zero')
elif a%2 ==0:
    print('a is even')
else:
    print('a is not even')

Please input an integer: 1
a is not even

1.2 Ask the user to input a number (should be integer). Check whether the number is zero, positive or negative.

In [11]:
a = input("Please input an integer: ")
a = int(a)
 
if a == 0:
    print('a is zero')
elif a > 0:
    print('a is positive')
else:
    print('a is negative')

Please input an integer: 1
a is positive

 1.3 A school has following grading system:

a. Below 25 - F
b. 25 to 45 - E
c. 45 to 60 - D
d. 60 to 75 - C
e. 75 to 90 - B
f. Above 90 - A

Ask user to enter marks (assuming the marks are between 0 and 100) and print the corresponding grade.

In [12]:
marks = input("Please input the marks (between 0 and 100): ")
marks = int(marks)
 
if marks > 90:
    print("Grade: A")
elif marks > 75 and marks <=90:
    print("Grade: B")
elif marks > 60 and marks <=75:
    print("Grade: C")
elif marks > 45 and marks <=60:
    print("Grade: D")
elif marks > 25 and marks <=45:
    print("Grade: E")
else:
    print("Grade: F")

Please input the marks (between 0 and 100): 80
Grade: B

1.4 In the problem 3.1, we asked you to write a code to enter an integer and then check if that number is even or not. What if the user inputs a letter or some symbol instead? If we don’t handle this properly, code will break. We should prompt the user if the input entered was incorrect.

Now try and make this code more robust by first checking if the entered input is a number or not. If the number entered is an integer, only then check if it is even or not.

In [13]:
a = input("Please input an integer: ")
 
if a.isdigit():
    a = int(a)
 
    if a == 0:
        print('a is zero')
    elif a%2 ==0:
        print('a is even')
    else:
        print('a is not even')
else:
    print("Input was not an integer")

Please input an integer: 2
a is even

# Lesson: Data structures - Lists
#Exercise - Lists
1.1 Given the list:

In [14]:
lst = [1,2,34,5,3,12,9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]

 Answer the following questions:

How many elements are in the list?
Using indexes, find out which is the first element in the list?
Using indexes, find out which is the last element in the list?
What is the index of element 90 in the list?
Which are the first 8 elements in the list?
Append elements 100 and 110 to the list?

In [15]:
lst = [1,2,34,5,3,12,9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]
 
len(lst)
lst[0]
lst[len(lst)-1]
lst.index(90)
lst[:8]
lst.append(100)
lst.append(110)
 
import numpy as np
 
np.sort(lst)

array([  1,   2,   3,   5,   8,   9,  12,  13,  21,  23,  34,  39,  45,
        46,  67,  89,  90,  98, 100, 110])

 1.2 Can a list have two or more elements that are same? Try and test. Try to define a new list with a few similar values and see if it works.

In [16]:
x = [1,2,1,1,1,3,3,3,2]

# Lesson: Data structures - Dictionaries
#Exercise dictionaries
1.1 You are given this dictionary.

In [17]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}

# Answer the following questions:

How many key-value pairs are in this dictionary?
What keys are present in this list?
What is the frequency of following words in the dictionary:
friends
taxi
jukebox
Is the word begin present in the dictionary?
Add the following words and their frequencies to the dictionary:
‘begin’: 1
‘start’: 2
‘over’: 1
‘body’: 17
Use the following code to convert the result from word_freq.keys() to a list: list(word_freq.keys())
Store the results of the above code in a variable called word.
What is the first word in the dictionary? What is the frequency of that word?
What is the last word in the dictionary? What is the frequency of that word?

In [18]:
len(word_freq)
word_freq.keys()
 
word_freq['friends']
word_freq['taxi']
word_freq['jukebox']
 
word_freq['begin'] # This would give an error
 
word_freq['begin'] = 1
word_freq['start'] = 2
word_freq['over'] = 1
word_freq['body'] = 17
 
words = list(word_freq.keys())
words[0] # First word in the dictionary
word_freq[words[0]]  # Frequency of the first word in the dictionary
 
words[len(words)-1] # Last word in the dictionary
word_freq[words[len(words)-1]]  # Frequency of the first word in the dictionary

KeyError: 'begin'

1.2 Can a dictionary have two key-value pairs with the same key?

The answer is no, because all the keys need to be unique within one object.

1.3 Can a dictionary have two key-value pairs with the same value but different keys?

The answer is yes.

# Lesson: Iterations
#Exercise - Simple Iterations
1.1 Write a simple for loop to print integers from 10 to 30. Also write a code to print those numbers in steps of 3.

In [19]:
for i in range(10,30):
    print(i)
 
for i in range(10,30,3):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
10
13
16
19
22
25
28

1.2 Update the previous code to print all the numbers from 10 to 30 that are multiples of 5.

In [20]:
for i in range(10,30):
    if i%5==0:
        print(i)

10
15
20
25

1.3 Write a code to print this pattern. Modify the print statement in the dummy code provided:
***
***

Dummy Code

In [23]:
for i in range(1,6,2):
    print(i*"*")

*
***
*****

 1.4 Update the previous code to print the following pattern:
    ***
***

1.5 Take a positive integer input from the user. Find the factorial of that number. Use the factorial method provided in the math library to check if your result is correct or not. You can use the math library to calculate the factorial as follows:

In [25]:
import math
math.factorial(n) # n is the positive integer for which we want to calculate the factorial

NameError: name 'n' is not defined

Note: Factorial is defined as:

In [28]:
#5! = 5*4*3*2*1 # " ! " is the mathematical notation for factorial
 
 #   n! = n*(n-1)*(n-2)*..........*1
    
import math
a = int(input("Please enter a positive integer: "))
result = 1
for a in range(2,a+1):
    result = result*a
if result == math.factorial(a):
    print("Factorial is: ", result)
    print("The answer is correct")
else:
    print("Your answer is not correct")

Please enter a positive integer: 1
Factorial is:  1
The answer is correct

# Exercise - Iterations on Lists
2.1 Given the list:

In [29]:
x = [12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 330, 896, 1, 55]

1.Write a code to find only those numbers that are divisible by 3.

2.Write a code to find only those numbers in the list that end with the digit 3. Note: for this one you might have to convert the integers to string and then use its index to find the last digit. A simple example to use indexes with string is shown below:

In [30]:
string_value = 'IRONHACK'
string_value[0]

'I'

3. Find the minimum in the list x. Conduct your own research to see if you can use any function directly.
4. Find the maximum in the list x. Conduct your own research to see if you can use an3y function directly.

In [31]:
x = [12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 330, 896, 1, 55]
 
for item in x:
    if item%3==0:
        print("number divisible by 3: ", item)
 
print("-------------")
 
output_list = []
for item in x:
    item = str(item)
    last_digit = item[-1]
    if last_digit == '3':
        output_list.append(item)
print(output_list) # ['43', '343', '93', '783']
 
print("-------------")
 
# to find minimum and maximum in list x:
 
print("min in list 'x': ", min(x)) # 1
print("max in list 'x': ", max(x)) # 896
 
print("-------------")
 
# to find minimum and maximum in the newly created output_list of all the items that end with the digit "3":
int_list = [int(i) for i in output_list]
 
print("min in newly created 'output_list': ", min(int_list)) # 43
print("max in newly created 'output_list': ", max(int_list)) # 783

number divisible by 3:  12
number divisible by 3:  6
number divisible by 3:  12
number divisible by 3:  93
number divisible by 3:  783
number divisible by 3:  330
-------------
['43', '343', '93', '783']
-------------
min in list 'x':  1
max in list 'x':  896
-------------
min in newly created 'output_list':  43
max in newly created 'output_list':  783

# Exercise: Iterations on Dictionaries
3.1 Given this dictionary:

In [32]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}

Iterate on the items of this dictionary to print only those keys where the frequency of the word is less than 3.

Which is the word with the highest frequency?

In [33]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}
for word, freq in word_freq.items():
    if freq < 3:
        print(word)

conversation
we're
plate
sour
jukebox
taxi
fast
bag
man
going
don't
one
mind
backseat
friends
know

In [34]:
frequencies = list(word_freq.values())
max_freq = max(frequencies)
for word, freq in word_freq.items():
    if freq == max_freq:
        print(word)

love

# Lesson: Pseudocode

#Exercise - Writing Pseudocode

You are witnessing an epic battle between two powerful sorcerers: Gandalf and Saruman. Each sorcerer has 10 spells of different powers in their mind and they are going to throw them one after the other. The winner of the duel will be the one who wins more of those clashes between spells. Spells are represented as a list of 10 integers whose value equals the power of the spell.

In [35]:
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]

# For example:

The first clash is won by Saruman: 10 against 23

The second clash is won by Saruman: 11 against 66 etc.

You will create two variables, one for each sorcerer, where the total of number of clashes won by each sorcerer will be stored. Depending on which variable is greater at the end of the duel, you will show one of the following three results on the screen:

Gandalf wins

Saruman wins

Tie

Pseudocode:

Create variables and assign spell power lists to them

Create variables to store number of wins by Gandalf and by Saruman. Assign 0 to each variable that stores the wins.

Execute the spell clashes. Iterate on the length of any one list:
Compare consecutive powers

If Gandalf wins update victory for Gandalf (variable that stores number of wins should go up by 1)

else if Saruman wins update the victory for Saruman (the same as above, just this time for Saruman)

else it is a tie

If Gandalf’s wins are greater than Saruman’s - print Gandalf wins

Else if Saruman wins are greater than Gandalf’s - print Saruman wins

Else print there is a tie

Copy

# Assign spell power lists to variables
 
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]
 
# Assign 0 to each variable that stores the victories
total_gandalf_wins = 0
total_saruman_wins = 0
 
# Execution of spell clashes
for i in range(0, len(gandalf)):
    if (gandalf[i] > saruman[i]):
        total_gandalf_wins += 1
    elif (saruman[i] > gandalf[i]):
        total_saruman_wins += 1
 
# We check who has won, do not forget the possibility of a draw.
# Print the result based on the winner.
if (total_gandalf_wins > total_saruman_wins):
    print ("Gandalf wins!")
elif (total_saruman_wins > total_gandalf_wins):
    print ("Saruman wins!")
else:
    print ("No winners, it is a tie.")

# Lesson: Intro to Functions
Exercise: Generation calculator
Create a “generation calculator” to help determine the generation you belong to according to your birth year. Follow the below information:

+-----------------+---------------------+
|  birth_year     |      generation     |
+-----------------+---------------------+
|     < 1949      |  silent generation  |
+-----------------+---------------------+
|     < 1969      |     baby boomer     |
+-----------------+---------------------+
|     < 1981      |     X generation    |
+-----------------+---------------------+
|     < 1994      |      millennial     |
+-----------------+---------------------+
|     > 1994      |    Z generation     |
+-----------------+---------------------+

Let’s add some “fake” users whose data we will be using to validate if the function gives us the correct and expected result.

In [37]:
name1 = "Jonh"
birth_year1 = 1989
 
name2 = "Mari"
birth_year2 = 1995
 
name3 = "Mich"
birth_year3 = 1960

1. Define the function generation calculator & add both parameters to represent both variables we are going to need in this function.

2. Determine generation as a birth year (we need to know the year to be able to calculate)

3. Print the results

4. Write conditionals for each generation. For example, if you were born before 1949 you would be a “silent generation”.

5. Define variables for each result

6. Show results

In [38]:
def generation_calculator(name, birth_year):
    generation = birth_year
    print ("Generation: ")
    print (generation)
    if generation < 1949:
        return name + " is silent generation"
    if generation < 1969:
        return name + " is baby boomer"
    if generation < 1981:
        return name + " is X generation"
    if generation < 1994:
        return name + " is millennial"
    else:
        return name + " is Z generation"

In [39]:
result1 = generation_calculator (name1, birth_year1)
result2 = generation_calculator (name2, birth_year2)
result3 = generation_calculator (name3, birth_year3)
 
print (result1)
print (result2)
print (result3)

Generation:
1989
Generation:
1995
Generation:
1960
Jonh is millennial
Mari is Z generation
Mich is baby boomer