In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import scipy.stats as st
import re
import scipy as sp
from scipy import stats

In [2]:
df = pd.read_csv('Desktop/trip.csv')
df.head()

,Title,Number of review,Catagory,Reveiw Comment,Popular food,Online Order
0,All Stars Sports Bar & Grill,21,"Bar, Pub","“The fries were terrific also, hot crisp...”",fries,Yes
1,Olio e Piu,"2,998","Italian, Pizza",“I love the food and our server Maria!”,filet mignon,Yes
2,Boucherie West Village,"1,465","French, Steakhouse",“The filet mignon was impeccable and the musse...,lobster,Yes
3,Club A Steakhouse,"4,413","American, Steakhouse",“My seafood cocktail had wonderful large lump ...,cacio e pepe,Yes
4,Piccola Cucina Estiatorio,403,"Italian, Sicilian",“penne al pomodoro and bucatini cacio e pepe w...,mussels,Yes

In [3]:
df.describe()

,Title,Number of review,Catagory,Reveiw Comment,Popular food,Online Order
count,10397,10397,10397,10397,10397,10397
unique,7237,857,560,6029,539,4
top,Royal 35 Steakhouse,No,"Italian, Pizza",No,No,No
freq,82,1511,822,2199,7709,5729

In [4]:
df.describe(include='O')

,Title,Number of review,Catagory,Reveiw Comment,Popular food,Online Order
count,10397,10397,10397,10397,10397,10397
unique,7237,857,560,6029,539,4
top,Royal 35 Steakhouse,No,"Italian, Pizza",No,No,No
freq,82,1511,822,2199,7709,5729

In [5]:
df.dtypes

Title               object
Number of review    object
Catagory            object
Reveiw Comment      object
Popular food        object
Online Order        object
dtype: object

In [6]:
#Lets count and look at columns names
print(df.columns)

#We have 6 columns

Index(['Title', 'Number of review', 'Catagory', 'Reveiw Comment',
       'Popular food', 'Online Order'],
      dtype='object')

In [7]:
#checking null values in the dataset:

df.isna().sum()

Title               0
Number of review    0
Catagory            0
Reveiw Comment      0
Popular food        0
Online Order        0
dtype: int64

In [8]:
df.duplicated().sum()

647

In [9]:
df['Popular food'].value_counts().head(30)

No                       7709
tuna                      129
ribeye                    127
Steak                      83
salad                      78
steak                      74
lobster bisque             68
carbonara                  65
fries                      62
Dumplings                  57
sliders                    56
pizza                      56
vegetarian                 55
Crab Cakes                 54
Pizza                      53
sashimi                    53
pasta                      52
dumplings                  51
seafood paella             48
Sushi                      46
French Onion Soup          43
Garden                     37
gyoza                      36
French toast               35
paella                     35
An Italian restaurant      34
burger                     31
bar                        29
salmon                     29
bagels                     27
Name: Popular food, dtype: int64

In [10]:
df['Catagory'].value_counts()

Italian, Pizza                822
American                      657
Chinese, Asian                485
American, Steakhouse          453
American, Bar                 426
                             ...
European, Central American      1
Greek, Wine Bar                 1
British, Central Asian          1
African, International          1
Tuscan, Central-Italian         1
Name: Catagory, Length: 560, dtype: int64

In [11]:
df['Catagory'].value_counts()

Italian, Pizza                822
American                      657
Chinese, Asian                485
American, Steakhouse          453
American, Bar                 426
                             ...
European, Central American      1
Greek, Wine Bar                 1
British, Central Asian          1
African, International          1
Tuscan, Central-Italian         1
Name: Catagory, Length: 560, dtype: int64

In [12]:
print(df['Title'].value_counts() )

Royal 35 Steakhouse        82
Little Alley               74
Ben & Jack's Steakhouse    68
Sea Fire Grill             67
Tabernacle Steakhouse      66
                           ..
Sido Falafel & More         1
DOMODOMO                    1
Stromboli Pizza INC         1
Il Mulino Prime - Soho      1
The Sandwich Cafe           1
Name: Title, Length: 7237, dtype: int64

In [13]:
df['Title'].unique()

array(['All Stars Sports Bar & Grill', 'Olio e Piu',
       'Boucherie West Village', ..., 'The Sandwich Slut',
       'The Sandwich Post', 'The Sandwich Cafe'], dtype=object)

In [14]:
print(df['Number of review'].value_counts() )
#df = df.sort_values("balance", ascending=False)

No          1511
1 review     688
2            460
3            413
7            282
            ...
1,493          1
561            1
630            1
824            1
668            1
Name: Number of review, Length: 857, dtype: int64

In [15]:
#df.groupby('Online Order').agg({'Number of review':'mean'})
df.pivot_table(values=['Number of review'], index=['Online Order'])

C:\Users\dvjp3\AppData\Local\Temp\ipykernel_67092\686730176.py:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df.pivot_table(values=['Number of review'], index=['Online Order'])

Empty DataFrame
Columns: []
Index: [No, Reserve, See events, Yes]

In [16]:
# converting the health column to string instead of integer in existing column: 
df = df.replace({
    'Online Order': {
        'Reserve': 'No',
        'See events':'No'
    }
})

In [17]:
df.pivot_table(values=['Number of review'], index=['Online Order', 'Title'])

C:\Users\dvjp3\AppData\Local\Temp\ipykernel_67092\2195599404.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df.pivot_table(values=['Number of review'], index=['Online Order', 'Title'])

Empty DataFrame
Columns: []
Index: [(No, #1 Deli Gourmet), (No, #VALUE!), (No, &Pizza), (No, &pizza - Astor Place), (No, &pizza - NoMad), (No, 10 Degrees), (No, 1020 Bar), (No, 10th Ave Pizza), (No, 111 Gourmet Deli), (No, 11th Street Bar), (No, 123BSB Harlem), (No, 12th Street Ale House), (No, 16 Handles), (No, 1st Avenue Gourmet & Deli), (No, 1st Avenue Gourmet Deli), (No, 2 Bros Pizza), (No, 2037 Meat & Grocery Deli Inc.), (No, 22 Thai Cuisine), (No, 230 Fifth), (No, 2Bros Pizza), (No, 2Dutcheese), (No, 2nd Avenue Deli), (No, 3 Giovani), (No, 3 Guys Restaurant), (No, 3 Times), (No, 3 brothers Hala pizza and chicken), (No, 33 Gourmet Deli), (No, 3D’s Castle Restaurant), (No, 4 Charles Prime Rib), (No, 44 & X), (No, 440 E 138th St, The Bronx, NY 10454), (No, 456 Shanghai Cuisine), (No, 48 Lounge), (No, 5 Boroughs Pizza), (No, 5 Napkin Burger), (No, 519), (No, 53 Nyc), (No, 55 Bar), (No, 5eleven), (No, 5ive Spice Les), (No, 5th & Mad), (No, 63 Clinton), (No, 696 Gourmet Deli), (No, 6B Restaurant), (No, 7 Brothers Deli), (No, 7 Elephants), (No, 7-Eleven), (No, 77 Burger), (No, 787 Coffee Co.), (No, 7th Ave Mike Food), (No, 83 1/2 Restaurant), (No, 88 Palace), (No, 886), (No, 8th Street Wine Cellar), (No, 99 Cent Delicious Pizza), (No, 99 Cent Fresh Pizza), (No, 99 Cent Hot Pizza & Grill), (No, 99 Cent Village Pizza), (No, 99 Cents Delicious Pizza 2), (No, 9th Ave Gourmet Deli), (No, A & P Pharmacy), (No, A A Jing), (No, A Little Taste), (No, A Pasta Bar), (No, A Plus Thai Place), (No, A Saffron Thread), (No, A Slice of New York), (No, A Taste of Seafood), (No, A Tavola Italian Diner), (No, A-1 Pizza Shop), (No, A-Jiao), (No, A-N-E cafe), (No, A.Cafe), (No, A.R.T. NoMad (Arlo Roof Top)), (No, A.R.T. SoHo), (No, ABA Turkish Restaurant), (No, ABC Cocina), (No, ABC Home Grown), (No, AKB Hotel Bar), (No, AM-PM Deli Grocery), (No, AOA Bar and Grill), (No, AOC East), (No, ARIARI), (No, AWOL Bar & Grill), (No, Aamber Indian Vegan), (No, Aangan Indian Cuisine), (No, Abace Sush), (No, Abacky), (No, Abbey Tavern), (No, Abiko Curry), (No, Abitino's Pizza), (No, Abitino's Pizzeria), (No, Abumi Sushi), (No, Aburiya Kinnosuke), (No, Abyssinia Restaurant), (No, Accent Restaurant & Bar), (No, Ace's), (No, Acerra Brick Oven Pizza), (No, Acme), (No, Acosta Deli Restaurant), ...]

[7542 rows x 0 columns]

In [18]:
df['Catagory'].value_counts("#VALUE!")

Italian, Pizza                0.079061
American                      0.063191
Chinese, Asian                0.046648
American, Steakhouse          0.043570
American, Bar                 0.040973
                                ...
European, Central American    0.000096
Greek, Wine Bar               0.000096
British, Central Asian        0.000096
African, International        0.000096
Tuscan, Central-Italian       0.000096
Name: Catagory, Length: 560, dtype: float64

In [19]:
df['Online Order'].value_counts("#VALUE!")

No     0.551794
Yes    0.448206
Name: Online Order, dtype: float64

In [20]:
df['Number of review'].value_counts("#VALUE!")

No          0.145330
1 review    0.066173
2           0.044244
3           0.039723
7           0.027123
              ...
1,493       0.000096
561         0.000096
630         0.000096
824         0.000096
668         0.000096
Name: Number of review, Length: 857, dtype: float64

In [21]:
df['Popular food'].value_counts("#VALUE!")

No                       0.741464
tuna                     0.012407
ribeye                   0.012215
Steak                    0.007983
salad                    0.007502
                           ...
an Italian restaurant    0.000096
Huevos rancheros         0.000096
Great Mexican Food       0.000096
Yorkshire pudding        0.000096
soup dumplings           0.000096
Name: Popular food, Length: 539, dtype: float64

In [22]:
df[df['Title']=="#VALUE!"]

,Title,Number of review,Catagory,Reveiw Comment,Popular food,Online Order
9670,#VALUE!,No,"Seafood, Soups",No,No,No

In [23]:
df=df.drop(df[df['Title'] =='#VALUE!'].index)

In [24]:
df[df['Title']=="#VALUE!"]

Empty DataFrame
Columns: [Title, Number of review, Catagory, Reveiw Comment, Popular food, Online Order]
Index: []

In [25]:
df

,Title,Number of review,Catagory,Reveiw Comment,Popular food,Online Order
0,All Stars Sports Bar & Grill,21,"Bar, Pub","“The fries were terrific also, hot crisp...”",fries,Yes
1,Olio e Piu,"2,998","Italian, Pizza",“I love the food and our server Maria!”,filet mignon,Yes
2,Boucherie West Village,"1,465","French, Steakhouse",“The filet mignon was impeccable and the musse...,lobster,Yes
3,Club A Steakhouse,"4,413","American, Steakhouse",“My seafood cocktail had wonderful large lump ...,cacio e pepe,Yes
4,Piccola Cucina Estiatorio,403,"Italian, Sicilian",“penne al pomodoro and bucatini cacio e pepe w...,mussels,Yes
...,...,...,...,...,...,...
10392,The Sandwich Slut,No,"Mediterranean, Turkish",No,No,No
10393,The Sandwich Slut,No,"Mediterranean, Turkish",No,No,No
10394,The Sandwich Post,No,"Mediterranean, Turkish",No,No,No
10395,The Sandwich Cafe,No,"Mediterranean, Turkish",No,No,No
10396,Lezzet Mediterranean Turkish Restaurant,No,"Mediterranean, Turkish",No,No,No

In [26]:
df['n_Online Order']=df["Online Order"].map({'Yes':1, 'No':0})

In [27]:
df

,Title,Number of review,Catagory,Reveiw Comment,Popular food,Online Order,n_Online Order
0,All Stars Sports Bar & Grill,21,"Bar, Pub","“The fries were terrific also, hot crisp...”",fries,Yes,1
1,Olio e Piu,"2,998","Italian, Pizza",“I love the food and our server Maria!”,filet mignon,Yes,1
2,Boucherie West Village,"1,465","French, Steakhouse",“The filet mignon was impeccable and the musse...,lobster,Yes,1
3,Club A Steakhouse,"4,413","American, Steakhouse",“My seafood cocktail had wonderful large lump ...,cacio e pepe,Yes,1
4,Piccola Cucina Estiatorio,403,"Italian, Sicilian",“penne al pomodoro and bucatini cacio e pepe w...,mussels,Yes,1
...,...,...,...,...,...,...,...
10392,The Sandwich Slut,No,"Mediterranean, Turkish",No,No,No,0
10393,The Sandwich Slut,No,"Mediterranean, Turkish",No,No,No,0
10394,The Sandwich Post,No,"Mediterranean, Turkish",No,No,No,0
10395,The Sandwich Cafe,No,"Mediterranean, Turkish",No,No,No,0
10396,Lezzet Mediterranean Turkish Restaurant,No,"Mediterranean, Turkish",No,No,No,0

In [28]:
#Export Data as Clean.CSV
df.to_csv('Desktop/Trip_clean.csv', sep=';')