In [10]:
import requests as rq
import pandas as pd
import re

OECD_ROOT_URL = "http://stats.oecd.org/SDMX-JSON/data"

def make_OECD_request(dsname, dimensions, params = None, root_dir = OECD_ROOT_URL):
    # Make URL for the OECD API and return a response
    # 4 dimensions: location, subject, measure, frequency
    # OECD API: https://data.oecd.org/api/sdmx-json-documentation/#d.en.330346

    if not params:
        params = {}

    dim_args = ['+'.join(d) for d in dimensions]
    dim_str = '.'.join(dim_args)

    url = root_dir + '/' + dsname + '/' + dim_str + '/all'

    print('Requesting URL ' + url)
    return rq.get(url = url, params = params)


def create_DataFrame_from_OECD(country = 'FRA', subject = [], measure = [], frequency = 'M',  startDate = None, endDate = None):     
    # Request data from OECD API and return pandas DataFrame

    # country: country code (max 1)
    # subject: list of subjects, empty list for all
    # measure: list of measures, empty list for all
    # frequency: 'M' for monthly and 'Q' for quarterly time series
    # startDate: date in YYYY-MM (2000-01) or YYYY-QQ (2000-Q1) format, None for all observations
    # endDate: date in YYYY-MM (2000-01) or YYYY-QQ (2000-Q1) format, None for all observations

    # Data download

    response = make_OECD_request('MEI'
                                 , [[country], subject, measure, [frequency]]
                                 , {'startTime': startDate, 'endTime': endDate, 'dimensionAtObservation': 'AllDimensions'})

    # Data transformation

    if (response.status_code == 200):

        responseJson = response.json()

        obsList = responseJson.get('dataSets')[0].get('observations')

        if (len(obsList) > 0):

            print('Data downloaded from %s' % response.url)

            timeList = [item for item in responseJson.get('structure').get('dimensions').get('observation') if item['id'] == 'TIME_PERIOD'][0]['values']
            subjectList = [item for item in responseJson.get('structure').get('dimensions').get('observation') if item['id'] == 'SUBJECT'][0]['values']
            measureList = [item for item in responseJson.get('structure').get('dimensions').get('observation') if item['id'] == 'MEASURE'][0]['values']

            obs = pd.DataFrame(obsList).transpose()
            obs.rename(columns = {0: 'series'}, inplace = True)
            obs['id'] = obs.index
            obs = obs[['id', 'series']]
            obs['dimensions'] = obs.apply(lambda x: re.findall('\d+', x['id']), axis = 1)
            obs['subject'] = obs.apply(lambda x: subjectList[int(x['dimensions'][1])]['id'], axis = 1)
            obs['measure'] = obs.apply(lambda x: measureList[int(x['dimensions'][2])]['id'], axis = 1)
            obs['time'] = obs.apply(lambda x: timeList[int(x['dimensions'][4])]['id'], axis = 1)
            obs['names'] = obs['subject'] + '_' + obs['measure']

            data = obs.pivot_table(index = 'time', columns = ['names'], values = 'series')

            return(data)

        else:

            print('Error: No available records, please change parameters')

    else:

        print('Error: %s' % response.status_code)

In [11]:
data

names    B6DBSI01_CXCU  B6DBSI01_CXCUSA  B6DBSI01_NCCU  B6DBSI01_NCCUSA
time
1960-Q1          958.0            955.0          958.0            955.0
1960-Q2         1172.0           1154.0         1172.0           1154.0
1960-Q3          896.0            889.0          896.0            889.0
1960-Q4         1035.0           1064.0         1035.0           1064.0
1961-Q1          991.0            989.0          991.0            989.0
...                ...              ...            ...              ...
2021-Q4        80330.0          80003.0        80330.0          80003.0
2022-Q1        80573.0          80847.0        80573.0          80847.0
2022-Q2        85680.0          85878.0        85680.0          85878.0
2022-Q3        97096.0          96902.0        97096.0          96902.0
2022-Q4        92702.0          92425.0        92702.0          92425.0

[252 rows x 4 columns]

In [3]:
data.head()

names    B6DBSI01_CXCU  B6DBSI01_CXCUSA  B6DBSI01_NCCU  B6DBSI01_NCCUSA
time
1960-Q1          958.0            955.0          958.0            955.0
1960-Q2         1172.0           1154.0         1172.0           1154.0
1960-Q3          896.0            889.0          896.0            889.0
1960-Q4         1035.0           1064.0         1035.0           1064.0
1961-Q1          991.0            989.0          991.0            989.0