In [1]:
import numpy as np
import pandas as pd

In [4]:
pokemon=pd.read_csv("Desktop\Pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [17]:
sum = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense']  + pokemon['Speed'] # except for Sp.Atk and Sp.Def 
sum
#pokemon['Total'].equals(sum)

0      188
1      245
2      325
3      383
4      199
      ...
795    350
796    430
797    320
798    380
799    380
Length: 800, dtype: int64

In [18]:
sum=pokemon['Sp.Atk'] + pokemon['Sp.Def'] # Sp.Atk and Sp.Def are not working for a pokemon.

KeyError: 'Sp.Atk'

In [19]:
dummy_type=pd.get_dummies(pokemon['Type 1'])+pd.get_dummies(pokemon['Type 2'])
dummy_type.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [20]:
dummy_type['Total']=pokemon['Total']
dummy_type

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,Total
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,318
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,405
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,525
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,625
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,600
796,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,700
797,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,600
798,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,680
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,600

In [22]:
type(dummy_type)

pandas.core.frame.DataFrame

In [23]:
corrected=dummy_type.corr()
corrected['Total']

Bug        -0.145781
Dark        0.056154
Dragon      0.229705
Electric    0.020971
Fairy      -0.036698
Fighting    0.077786
Fire        0.078726
Flying      0.059383
Ghost       0.003641
Grass      -0.052592
Ground      0.015060
Ice         0.060248
Normal     -0.105331
Poison     -0.090441
Psychic     0.124688
Rock        0.032731
Steel       0.109703
Water      -0.021665
Total       1.000000
Name: Total, dtype: float64