# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [4]:
# Your code here:
Employees = pd.read_csv('Desktop\Employees.csv')
Employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

Examine the `salaries` dataset using the `head` function below.

In [6]:
Employees.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

Employees["Annual Salary"].head()

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
# Your code here:
Employees["Annual Salary"].head()

0    101442.0
1     94122.0
2    101592.0
3    110064.0
4         NaN
Name: Annual Salary, dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [10]:
# Your code here:
Employees["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [14]:
sorted([Employees['Department'].unique()])

[array(['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC',
        'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE',
        'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN',
        "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE',
        'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT',
        'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION',
        'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT',
        'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA',
        'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG',
        'LICENSE APPL COMM'], dtype=object)]

In [19]:
import seaborn as sns
pd.crosstab(Employees.Department, Employees.Name, margins=True, margins_name='Total')

KeyboardInterrupt:

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [21]:
# Your code here:
sorted([Employees['Hourly Rate'].unique()])
#Employees["Hourly Rate"].value_counts()

[array([   nan,  19.86,  46.1 ,  35.6 ,   2.65,  17.68,  21.43,  25.1 ,
         20.  ,  36.21,  45.07,  44.88,  48.25,  36.22,  40.2 ,  36.13,
         32.04,  28.48,  47.5 ,  32.25,  46.35,  21.2 ,  20.77,  13.15,
         21.98,  15.94,  20.12,  12.49,  34.57,  16.17,  13.94,   8.25,
         47.44,  32.59,  43.03,  15.22,  28.14,  19.38,  18.52,  44.25,
         21.3 ,  49.1 ,  15.65,  15.  ,  18.15,  22.36,  35.57,  14.54,
         22.12,  50.25,  38.33,  13.  ,  37.25,  20.31,  40.7 ,  52.18,
         41.1 ,  44.55,  19.5 ,  37.56,  22.35,  41.7 ,  14.51,  37.45,
         12.  ,  53.9 ,  48.9 ,  45.35,  19.61,  22.88,  30.2 ,  24.63,
         18.22,  19.  ,  16.88,  17.42,  45.43,  22.  ,  34.33,  52.1 ,
         23.31,  33.56,  47.8 ,  22.83,   9.27,  14.65,  45.75,  32.16,
         21.55,  16.  ,  24.12,  26.32,  14.23,  10.  ,  14.15,  46.47,
         46.2 ,  48.85,  41.  ,  41.3 ,  46.25,  22.75,  20.24,  20.88,
         30.21,  17.55,  41.72,  50.5 ,  24.41,  10.5 ,  32.09,   9.46,
         32.71,  38.35,  50.12,  50.8 ,  33.38,  37.08,  44.59,  53.1 ,
         21.62,  49.37,  15.15,  11.  ,  17.33,  14.  ,  19.15,  52.52,
         18.  ,  34.66,  38.14,  47.85,  27.66,  28.97,  47.33,  22.24,
         45.68,  78.91,  45.93,  57.95, 109.  ,  42.25,  39.05,  49.52,
         37.47,  28.  ,  20.94,  17.74,  49.95,  26.33,  36.75,  25.  ,
         16.65,  26.06,  42.05,  36.18,  46.75,  12.5 ,  48.2 ,  50.2 ,
         26.11,  17.5 ,  15.75,  15.38,   9.5 ,  24.49,  19.3 ,  35.43])]

In [23]:
Employees['Hourly Rate'].mean()

32.78855771628023

In [25]:
Employees['Hourly Rate'].std()

12.11257268427681

In [28]:
a=np.array(list(Employees['Hourly Rate']))

In [30]:
import scipy.stats
from scipy.stats import norm

ci=scipy.stats.norm.interval(0.95, loc=33, scale=12)
ci

(9.480432185519351, 56.51956781448065)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [31]:
Employees['Annual Salary'].mean()

86786.99979015143

In [32]:
Employees['Annual Salary'].std()

21041.354601627885

In [33]:
# Your code here:
a=np.array(list(Employees['Annual Salary']))

ci=scipy.stats.norm.interval(0.95, loc=86786, scale=21041)
ci

(45546.397801292725, 128025.60219870727)

Using the `crosstab` function, find the department that has the most hourly workers.

In [35]:
# Your code here:
top_5=Employees.sort_values('Hourly Rate', ascending=False)[:5]
top_5

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
14534,"JONES, JOHN W",PSYCHIATRIST,HEALTH,F,Hourly,35.0,NaN,109.00
13242,"HUBER, JANICE F",PHYSICIAN,HEALTH,F,Hourly,35.0,NaN,78.91
14101,"JILEK, GEORGE J",DENTIST,HEALTH,F,Hourly,35.0,NaN,57.95
23907,"QUINLAN, CHRISTOPHER M",FOREMAN OF LINEMEN,TRANSPORTN,F,Hourly,40.0,NaN,53.90
31757,"WHITE, THOMAS M",FOREMAN OF LINEMEN,TRANSPORTN,F,Hourly,40.0,NaN,53.90

In [39]:
pd.crosstab(Employees['Department'], Employees['Hourly Rate'], margins=True, margins_name='Total')

Hourly Rate,2.65,8.25,9.27,9.46,9.5,10.0,10.5,11.0,12.0,12.49,...,50.8,52.1,52.18,52.52,53.1,53.9,57.95,78.91,109.0,Total
Department,,,,,,,,,,,,,,,,,,,,,
ANIMAL CONTRL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,19
AVIATION,0,0,0,0,0,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,1082
BUDGET & MGMT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
BUSINESS AFFAIRS,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
CITY COUNCIL,0,0,0,0,1,1,2,0,15,0,...,0,0,0,0,0,0,0,0,0,64
COMMUNITY DEVELOPMENT,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,4
CULTURAL AFFAIRS,0,0,0,0,0,0,0,1,6,0,...,0,0,0,0,0,0,0,0,0,7
FAMILY & SUPPORT,206,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,287
FINANCE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,44
FIRE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
GENERAL SERVICES,0,0,0,0,0,0,0,0,0,0,...,0,26,9,0,3,0,0,0,0,765
HEALTH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,3
HUMAN RESOURCES,0,0,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
LAW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40
MAYOR'S OFFICE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
OEMC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1273
POLICE,0,0,4,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
PROCUREMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
PUBLIC LIBRARY,0,0,0,0,0,0,0,0,0,96,...,0,0,0,0,0,0,0,0,0,299
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,1862
TRANSPORTN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,11,0,0,0,725
WATER MGMNT,0,0,0,0,0,0,0,0,0,0,...,2,0,45,0,4,0,0,0,0,1513
Total,206,25,4,6,1,5,2,2,22,96,...,2,26,62,1,12,11,1,1,1,8022

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [40]:
Employees['Hourly Rate'].mean()

32.78855771628023

In [41]:
Employees['Hourly Rate'].std()

12.11257268427681

In [43]:
# Your code here:
a=np.array(list(Employees['Hourly Rate']))

ci=scipy.stats.norm.interval(0.95, loc=33, scale=12)
ci

(9.480432185519351, 56.51956781448065)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [45]:
Employees['Annual Salary'].mean()

86786.99979015143

In [46]:
Employees['Annual Salary'].std()

21041.354601627885

In [47]:
# Your code here:
a=np.array(list(Employees['Annual Salary']))

ci=scipy.stats.norm.interval(0.95, loc=86787, scale=21041)
ci

(45547.397801292725, 128026.60219870727)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: