In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
data=pd.read_csv('france.csv')

In [2]:
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score,
    precision_recall_curve, roc_curve, roc_auc_score
    
)
from sklearn.model_selection import GridSearchCV

In [3]:
data.head()

,LOCATION,Country,MEASURE,Measure,AGE,Age group,DEFINITION,Definition,METHODO,Methodology,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2012,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.326,NaN,NaN
1,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2014,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.337,NaN,NaN
2,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2016,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.330,NaN,NaN
3,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2018,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.325,NaN,NaN
4,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2020,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.318,NaN,NaN

In [19]:
EURO_COUNTRIES = ['Austria', 'Estonia', 'Finland', 'France', 'Germany', 'Ireland','Italy', 'Latvia','Lithuania','Luxembourg', 'Netherlands', 'Portugal','Slovenia','Spain']

In [21]:
data['Measure'].unique()

array(['Gini (disposable income, post taxes and transfers)',
       'Consumer Price Index (base 2010=100)',
       'Age group 0-17: Poverty rate after taxes and transfers',
       'Total earnings (current prices)',
       'Current transfers received from public social security (Current prices)',
       'Income from self-employment (current prices)',
       'Taxes and social security contributions paid directly by households (Current prices)',
       'Age group 0-17: mean disposable income (current prices)',
       'Age group 18-25: mean disposable income (current prices)',
       'Current transfers received from employment-related social insurance schemes (Current prices)',
       'Capital income (current prices)',
       'Age group 18-25: Poverty rate after taxes and transfers',
       'Purchasing Power Parities for private consumption',
       'Standard error Gini (post taxes and transfers)',
       'Mean disposable income (current prices)',
       'Gini (market income, before taxes and transfers)',
       'Age group 26-40: Poverty rate after taxes and transfers',
       'Income from self-employment and from goods produced for own consumption (current prices)',
       'Capital and private transfers (current prices)',
       'Current transfers received from non-profit institutions and other private households (Current prices)',
       'Current transfers paid by households to non-profit institutions and other households (Current prices)',
       'Age group 26-40: mean disposable income (current prices)',
       'Age group 41-50: mean disposable income (current prices)',
       'Public transfers (current prices)',
       'Current transfers received (Current prices)',
       'Age group 41-50: Poverty rate after taxes and transfers',
       'Gini (gross income, before taxes)',
       'Median disposable income (current prices)',
       'Age group 51-65: Poverty rate after taxes and transfers',
       'Current transfers paid (Current prices)',
       'Age group 51-65: mean disposable income (current prices)',
       'Age group 66-75: mean disposable income (current prices)',
       'Age group 66-75: Poverty rate after taxes and transfers',
       'Palma ratio',
       'Age group 76+: Poverty rate after taxes and transfers',
       'Age group 76+: mean disposable income (current prices)',
       'Poverty rate before taxes and transfers, Poverty line 50%',
       'Poverty rate after taxes and transfers, Poverty line 50%',
       'Mean Poverty gap after taxes and transfers, Poverty line 50%',
       'Median Poverty gap after taxes and transfers, Poverty line 50%',
       'All age groups: Poverty rate after taxes and transfers',
       'Poverty rate before taxes and transfers, Poverty line 60%',
       'Poverty rate after taxes and transfers, Poverty line 60%',
       'Mean Poverty gap after taxes and transfers, Poverty line 60%',
       'Median Poverty gap after taxes and transfers, Poverty line 60%',
       'P90/P10 disposable income decile ratio',
       'P90/P50  disposable income decile ratio',
       'P50/P10  disposable income decile ratio',
       'S80/S20 disposable income quintile share',
       'Total number of individuals', 'Age group 0-17: share',
       'Age group 18-25: share', 'Age group 26-40: share',
       'Age group 41-50: share', 'Age group 51-65: share',
       'Age group 66-75: share', 'Age group 76+: share',
       'Total number of households',
       'Income from own consumption (Current prices)',
       'Contributions paid by households to employment-related social insurance schemes (Current prices)',
       'All working-age household types: mean disposable income (current prices)',
       'All  working-age household types: Poverty rate before taxes and transfers',
       'All  working-age household types: Poverty rate after taxes and transfers',
       'Consumer Price Index (base 2015=100)'], dtype=object)

In [36]:
data_pivoted

Country,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
Year,,,,,,,,,,,,,,
2006,0.268667,0.310667,0.254000,0.291500,0.291500,0.296667,0.318667,0.349500,0.318000,0.261333,0.268000,0.369167,0.244000,0.308000
2007,0.284000,0.291333,0.263667,0.292000,0.297000,0.294000,0.307000,0.375167,0.330667,0.260333,0.281667,0.356000,0.245500,0.304333
2008,0.276000,0.292500,0.262500,0.292000,0.283167,0.291500,0.319333,0.371500,0.343167,0.271000,0.273000,0.351000,0.241500,0.319000
2009,0.286667,0.287500,0.254333,0.292000,0.286333,0.302333,0.306500,0.338500,0.340167,0.263000,0.268667,0.337833,0.249667,0.324000
2010,0.279667,0.288833,0.256000,0.300333,0.282667,0.293833,0.315500,0.328333,0.310333,0.258167,0.269000,0.342667,0.249500,0.326000
2011,0.280000,0.296667,0.258667,0.308000,0.287167,0.303500,0.317667,0.333333,0.305667,0.269000,0.272167,0.340000,0.247500,0.326000
2012,0.273333,0.302833,0.257833,0.302667,0.283333,0.304667,0.320500,0.332833,0.332000,0.290333,0.274556,0.337000,0.252333,0.320667
2013,0.279333,0.324667,0.258333,0.290333,0.283667,0.303667,0.316667,0.338167,0.333667,0.269500,0.268333,0.337667,0.256000,0.328333
2014,0.271000,0.319000,0.254333,0.290333,0.284333,0.294000,0.318667,0.334667,0.352000,0.270667,0.282667,0.332667,0.252000,0.327000
2015,0.272667,0.309333,0.256000,0.291333,0.285667,0.292667,0.326000,0.338000,0.351333,0.299333,0.290000,0.337333,0.253000,0.328667
2016,0.277333,0.299000,0.254000,0.286667,0.285000,0.301333,0.321667,0.340667,0.363333,0.299333,0.275667,0.335000,0.246333,0.328000
2017,0.271667,0.297333,0.258000,0.286333,0.281333,0.289333,0.328000,0.350667,0.359667,0.321667,0.284333,0.324333,0.246667,0.323000
2018,0.278333,0.296333,0.261333,0.295333,0.284000,0.289000,0.326000,0.350000,0.345000,0.303667,0.278667,0.321000,0.248667,0.320667
2019,0.272667,0.297333,0.265333,0.288000,0.288333,NaN,NaN,0.339667,0.342000,0.292333,0.297667,0.312333,0.247333,0.314000
2020,NaN,NaN,0.258667,NaN,NaN,NaN,NaN,0.357667,NaN,NaN,0.289333,NaN,NaN,NaN

In [26]:
data_pivoted.to_csv('data_pivoted.csv')

In [35]:
data_filtered= data[(data['MEASURE']=='GINI') & (data['Country'].isin(EURO_COUNTRIES))]
data_pivoted = pd.pivot_table(data_filtered, values='Value', index='Year', columns='Country', aggfunc='mean')

In [47]:
data_transfer= data[(data['Measure']=='Current transfers received from public social security (Current prices)') & (data['Country'].isin(EURO_COUNTRIES))]
data_pivotedtransfer = pd.pivot_table(data_transfer, values='Value', index='Year', columns='Country', aggfunc='mean')
data_pivotedtransfer.to_csv('data_pivotedtransfer.csv')

In [48]:
data_MDI= data[(data['Measure']=='Mean disposable income (current prices)') & (data['Country'].isin(EURO_COUNTRIES))]
data_pivotedMDI = pd.pivot_table(data_MDI, values='Value', index='Year', columns='Country', aggfunc='mean')
data_pivotedMDI.to_csv('data_pivotedMDI.csv')

In [49]:
data_TE= data[(data['Measure']=='Total earnings (current prices)') & (data['Country'].isin(EURO_COUNTRIES))]
data_pivotedTE = pd.pivot_table(data_TE, values='Value', index='Year', columns='Country', aggfunc='mean')
data_pivotedTE.to_csv('data_pivotedTE.csv')

In [50]:
data_CI= data[(data['Measure']=='Capital income (current prices)') & (data['Country'].isin(EURO_COUNTRIES))]
data_pivotedCI = pd.pivot_table(data_CI, values='Value', index='Year', columns='Country', aggfunc='mean')
data_pivotedCI.to_csv('data_pivotedCI.csv')

In [51]:
data_CPI= data[(data['Measure']=='Consumer Price Index (base 2015=100)') & (data['Country'].isin(EURO_COUNTRIES))]
data_pivotedCPI = pd.pivot_table(data_CPI, values='Value', index='Year', columns='Country', aggfunc='mean')
data_pivotedCPI.to_csv('data_pivotedCPI.csv')

In [52]:
data_P90= data[(data['Measure']=='P90/P10 disposable income decile ratio') & (data['Country'].isin(EURO_COUNTRIES))]
data_pivotedP90 = pd.pivot_table(data_P90, values='Value', index='Year', columns='Country', aggfunc='mean')
data_pivotedP90.to_csv('data_pivotedP90.csv')

In [53]:
data_Taxsecu= data[(data['Measure']=='Taxes and social security contributions paid directly by households (Current prices)') & (data['Country'].isin(EURO_COUNTRIES))]
data_pivotedTaxsecu = pd.pivot_table(data_Taxsecu, values='Value', index='Year', columns='Country', aggfunc='mean')
data_pivotedTaxsecu.to_csv('data_pivotedTaxsecu.csv')