In [15]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
data=pd.read_csv('france.csv')

In [16]:
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score,
    precision_recall_curve, roc_curve, roc_auc_score
    
)
from sklearn.model_selection import GridSearchCV

In [17]:
data.head()

,LOCATION,Country,MEASURE,Measure,AGE,Age group,DEFINITION,Definition,METHODO,Methodology,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2012,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.326,NaN,NaN
1,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2014,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.337,NaN,NaN
2,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2016,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.330,NaN,NaN
3,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2018,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.325,NaN,NaN
4,AUS,Australia,GINI,"Gini (disposable income, post taxes and transf...",TOT,Total population,CURRENT,Current definition,METH2012,New income definition since 2012,...,2020,0_TO_1,0-1 scale,0,Units,NaN,NaN,0.318,NaN,NaN

In [10]:
EURO_COUNTRIES = ['Austria', 'Belgium', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Ireland','Italy', 'Latvia','Lithuania','Luxembourg', 'Netherlands', 'Portugal', 'Slovak Republic','Slovenia','Spain']

In [11]:
data['Measure'].unique()

array(['Gini (disposable income, post taxes and transfers)',
       'Consumer Price Index (base 2010=100)',
       'Age group 0-17: Poverty rate after taxes and transfers',
       'Total earnings (current prices)',
       'Current transfers received from public social security (Current prices)',
       'Income from self-employment (current prices)',
       'Taxes and social security contributions paid directly by households (Current prices)',
       'Age group 0-17: mean disposable income (current prices)',
       'Age group 18-25: mean disposable income (current prices)',
       'Current transfers received from employment-related social insurance schemes (Current prices)',
       'Capital income (current prices)',
       'Age group 18-25: Poverty rate after taxes and transfers',
       'Purchasing Power Parities for private consumption',
       'Standard error Gini (post taxes and transfers)',
       'Mean disposable income (current prices)',
       'Gini (market income, before taxes and transfers)',
       'Age group 26-40: Poverty rate after taxes and transfers',
       'Income from self-employment and from goods produced for own consumption (current prices)',
       'Capital and private transfers (current prices)',
       'Current transfers received from non-profit institutions and other private households (Current prices)',
       'Current transfers paid by households to non-profit institutions and other households (Current prices)',
       'Age group 26-40: mean disposable income (current prices)',
       'Age group 41-50: mean disposable income (current prices)',
       'Public transfers (current prices)',
       'Current transfers received (Current prices)',
       'Age group 41-50: Poverty rate after taxes and transfers',
       'Gini (gross income, before taxes)',
       'Median disposable income (current prices)',
       'Age group 51-65: Poverty rate after taxes and transfers',
       'Current transfers paid (Current prices)',
       'Age group 51-65: mean disposable income (current prices)',
       'Age group 66-75: mean disposable income (current prices)',
       'Age group 66-75: Poverty rate after taxes and transfers',
       'Palma ratio',
       'Age group 76+: Poverty rate after taxes and transfers',
       'Age group 76+: mean disposable income (current prices)',
       'Poverty rate before taxes and transfers, Poverty line 50%',
       'Poverty rate after taxes and transfers, Poverty line 50%',
       'Mean Poverty gap after taxes and transfers, Poverty line 50%',
       'Median Poverty gap after taxes and transfers, Poverty line 50%',
       'All age groups: Poverty rate after taxes and transfers',
       'Poverty rate before taxes and transfers, Poverty line 60%',
       'Poverty rate after taxes and transfers, Poverty line 60%',
       'Mean Poverty gap after taxes and transfers, Poverty line 60%',
       'Median Poverty gap after taxes and transfers, Poverty line 60%',
       'P90/P10 disposable income decile ratio',
       'P90/P50  disposable income decile ratio',
       'P50/P10  disposable income decile ratio',
       'S80/S20 disposable income quintile share',
       'Total number of individuals', 'Age group 0-17: share',
       'Age group 18-25: share', 'Age group 26-40: share',
       'Age group 41-50: share', 'Age group 51-65: share',
       'Age group 66-75: share', 'Age group 76+: share',
       'Total number of households',
       'Income from own consumption (Current prices)',
       'Contributions paid by households to employment-related social insurance schemes (Current prices)',
       'All working-age household types: mean disposable income (current prices)',
       'All  working-age household types: Poverty rate before taxes and transfers',
       'All  working-age household types: Poverty rate after taxes and transfers',
       'Consumer Price Index (base 2015=100)'], dtype=object)

In [12]:
#data_pivoted

In [13]:
#data_pivoted.to_csv('data_pivoted.csv')

In [26]:
data_filtered= data[(data['MEASURE']=='GINI') & (data['Country'].isin(EURO_COUNTRIES))]
data_pivoted = pd.pivot_table(data_filtered, values='Value', index='Year', columns=['AGE', 'Country'], aggfunc='mean')

In [27]:
data_pivoted

AGE         OLD                                                          \
Country Austria Belgium Estonia Finland  France Germany  Greece Ireland
Year
2006      0.275  0.2515  0.2575  0.2240     NaN     NaN  0.3065  0.2645
2007      0.286  0.2340  0.2600  0.2505     NaN     NaN  0.2950  0.2835
2008      0.268  0.2370  0.2575  0.2595  0.2910  0.2755  0.2830  0.2885
2009      0.286  0.2595  0.2400  0.2420  0.2900  0.2820  0.2830  0.2795
2010      0.280  0.2270  0.2275  0.2360  0.2970  0.2770  0.2985  0.2825
2011      0.277  0.2405  0.2400  0.2440  0.3050  0.2730  0.2715  0.2985
2012      0.268  0.2285  0.2530  0.2525  0.2955  0.2690  0.2670  0.2970
2013      0.276  0.2265  0.2660  0.2510  0.2890  0.2600  0.2710  0.2850
2014      0.263  0.2280  0.2730  0.2440  0.2810  0.2700  0.2730  0.2840
2015      0.267  0.2390  0.2800  0.2410  0.2800  0.2630  0.2660  0.2800
2016      0.262  0.2220  0.2840  0.2380  0.2730  0.2600  0.2790  0.2840
2017      0.263  0.2370  0.2910  0.2330  0.2710  0.2590  0.2680  0.2800
2018      0.271  0.2370  0.2970  0.2400  0.2780  0.2690  0.2650  0.2810
2019      0.270  0.2310  0.2970  0.2440  0.2750  0.2700  0.2720     NaN
2020        NaN     NaN     NaN  0.2400     NaN     NaN     NaN     NaN

AGE                        ...      WA                                       \
Country     Italy  Latvia  ... Ireland   Italy  Latvia Lithuania Luxembourg
Year                       ...
2006     0.312000  0.3455  ...  0.3100  0.3200  0.3480    0.3285     0.2785
2007     0.299000  0.3850  ...  0.2950  0.3090  0.3625    0.3370     0.2790
2008     0.315333  0.3705  ...  0.2910  0.3190  0.3660    0.3590     0.2935
2009     0.291000  0.2990  ...  0.3155  0.3135  0.3585    0.3780     0.2810
2010     0.296500  0.2825  ...  0.3010  0.3260  0.3520    0.3400     0.2720
2011     0.297500  0.2875  ...  0.3085  0.3290  0.3565    0.3245     0.2755
2012     0.297500  0.2995  ...  0.3110  0.3345  0.3485    0.3515     0.2985
2013     0.297500  0.3100  ...  0.3165  0.3280  0.3490    0.3500     0.2780
2014     0.300000  0.3160  ...  0.3000  0.3300  0.3390    0.3740     0.2860
2015     0.306000  0.3300  ...  0.3000  0.3390  0.3380    0.3670     0.3080
2016     0.307000  0.3430  ...  0.3110  0.3310  0.3330    0.3720     0.3080
2017     0.310000  0.3550  ...  0.2930  0.3400  0.3420    0.3620     0.3300
2018     0.315000  0.3620  ...  0.2940  0.3330  0.3370    0.3520     0.3210
2019          NaN  0.3410  ...     NaN     NaN  0.3340    0.3470     0.3080
2020          NaN  0.3740  ...     NaN     NaN  0.3440       NaN        NaN

AGE
Country Netherlands Portugal Slovak Republic Slovenia  Spain
Year
2006       0.284000   0.3655          0.2435   0.2355  0.307
2007       0.298000   0.3560          0.2400   0.2345  0.305
2008       0.289000   0.3505          0.2530   0.2290  0.318
2009       0.287000   0.3325          0.2645   0.2430  0.326
2010       0.287000   0.3385          0.2600   0.2415  0.335
2011       0.293000   0.3370          0.2575   0.2440  0.340
2012       0.286667   0.3405          0.2475   0.2480  0.339
2013       0.287000   0.3455          0.2700   0.2545  0.351
2014       0.301000   0.3400          0.2440   0.2510  0.349
2015       0.307000   0.3340          0.2500   0.2480  0.350
2016       0.294000   0.3280          0.2370   0.2430  0.343
2017       0.299000   0.3140          0.2150   0.2410  0.336
2018       0.296000   0.3100          0.2320   0.2460  0.332
2019       0.313000   0.3040          0.2170   0.2450  0.319
2020       0.304000      NaN             NaN      NaN    NaN

[15 rows x 51 columns]

In [29]:
data_pivoted.to_csv('welfare.csv')