In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score,
    precision_recall_curve, roc_curve, roc_auc_score
    
)
from sklearn.model_selection import GridSearchCV

In [3]:
data=pd.read_csv('data_pivotedTaxsecu.csv')

In [4]:
data.head(14)

,Year,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
0,2006,-6965.333333,-903.166667,-6408.000000,NaN,NaN,-4368.000000,-5357.666667,-867.500000,-832.500000,-9110.333333,-11197.000000,-2590.500000,-3069.500000,-2321.666667
1,2007,-7652.000000,-1097.500000,-6692.000000,NaN,NaN,-4406.166667,-5917.333333,-1195.833333,-844.833333,-9330.000000,-11473.000000,-2578.166667,-3295.500000,-2363.333333
2,2008,-8151.666667,-1187.166667,-6893.833333,-3449.333333,-6863.000000,-4232.666667,-5728.555556,-1431.666667,-964.000000,-10159.666667,-12051.000000,-2452.000000,-3535.666667,-2956.666667
3,2009,-8242.666667,-1054.166667,-6599.500000,-3747.500000,-9060.500000,-4560.666667,-6090.666667,-1178.166667,-839.666667,-10045.166667,-11997.000000,-2460.333333,-3397.166667,-2941.333333
4,2010,-8079.333333,-1103.166667,-6809.500000,-3911.000000,-9318.500000,-4740.166667,-6238.666667,-1096.500000,-693.666667,-10127.333333,-10760.000000,-2621.333333,-3417.333333,-3038.666667
5,2011,-8415.000000,-1265.166667,-7129.333333,-4099.000000,-7446.200000,-4910.000000,-6316.333333,-1236.166667,-733.333333,-11111.666667,-10050.000000,-2884.333333,-3395.000000,-2996.666667
6,2012,-8666.333333,-1343.833333,-7422.666667,-4271.666667,-6098.000000,-5504.500000,-6554.500000,-1308.833333,-801.166667,-11769.166667,-10987.500000,-2444.666667,-3296.500000,-2980.666667
7,2013,-9248.000000,-1463.000000,-7328.000000,-4426.666667,-6190.333333,-5898.500000,-6492.000000,-1378.333333,-910.333333,-12167.833333,-9400.000000,-3140.666667,-3234.333333,-3013.666667
8,2014,-9230.333333,-1477.333333,-7649.333333,-4500.000000,-6355.000000,-5740.666667,-6508.333333,-1509.000000,-967.666667,-12611.000000,-9716.666667,-3238.333333,-3475.666667,-3122.666667
9,2015,-9800.666667,-1615.000000,-7767.333333,-4433.333333,-6719.000000,-6061.333333,-6574.333333,-1626.333333,-1061.333333,-8344.666667,-9866.666667,-3575.666667,-3476.000000,-3045.333333
10,2016,-9547.666667,-1691.000000,-7731.666667,-4466.666667,-6981.333333,-5954.666667,-6652.333333,-1713.000000,-1174.666667,-9238.666667,-10066.666667,-3549.333333,-3635.666667,-3109.333333
11,2017,-9510.333333,-1860.000000,-7585.000000,-4513.333333,-7422.666667,-7618.333333,-6809.666667,-1946.000000,-1220.000000,-4657.666667,-10866.666667,-3562.333333,-3818.000000,-3356.000000
12,2018,-9819.333333,-1428.000000,-7629.333333,-4966.666667,-7817.000000,-7688.000000,-6941.333333,-2042.666667,-1438.666667,-15430.666667,-10933.333333,-3742.000000,-4137.000000,-3476.000000
13,2019,-10605.000000,-2069.666667,-7896.333333,-4893.333333,-8426.000000,NaN,NaN,-2161.000000,-3407.000000,-14525.000000,-11433.333333,-4099.000000,-4406.333333,-3727.333333

In [5]:
data_noyear = data.drop('Year', axis=1)

In [6]:
data_noyear.head(14)

,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
0,-6965.333333,-903.166667,-6408.000000,NaN,NaN,-4368.000000,-5357.666667,-867.500000,-832.500000,-9110.333333,-11197.000000,-2590.500000,-3069.500000,-2321.666667
1,-7652.000000,-1097.500000,-6692.000000,NaN,NaN,-4406.166667,-5917.333333,-1195.833333,-844.833333,-9330.000000,-11473.000000,-2578.166667,-3295.500000,-2363.333333
2,-8151.666667,-1187.166667,-6893.833333,-3449.333333,-6863.000000,-4232.666667,-5728.555556,-1431.666667,-964.000000,-10159.666667,-12051.000000,-2452.000000,-3535.666667,-2956.666667
3,-8242.666667,-1054.166667,-6599.500000,-3747.500000,-9060.500000,-4560.666667,-6090.666667,-1178.166667,-839.666667,-10045.166667,-11997.000000,-2460.333333,-3397.166667,-2941.333333
4,-8079.333333,-1103.166667,-6809.500000,-3911.000000,-9318.500000,-4740.166667,-6238.666667,-1096.500000,-693.666667,-10127.333333,-10760.000000,-2621.333333,-3417.333333,-3038.666667
5,-8415.000000,-1265.166667,-7129.333333,-4099.000000,-7446.200000,-4910.000000,-6316.333333,-1236.166667,-733.333333,-11111.666667,-10050.000000,-2884.333333,-3395.000000,-2996.666667
6,-8666.333333,-1343.833333,-7422.666667,-4271.666667,-6098.000000,-5504.500000,-6554.500000,-1308.833333,-801.166667,-11769.166667,-10987.500000,-2444.666667,-3296.500000,-2980.666667
7,-9248.000000,-1463.000000,-7328.000000,-4426.666667,-6190.333333,-5898.500000,-6492.000000,-1378.333333,-910.333333,-12167.833333,-9400.000000,-3140.666667,-3234.333333,-3013.666667
8,-9230.333333,-1477.333333,-7649.333333,-4500.000000,-6355.000000,-5740.666667,-6508.333333,-1509.000000,-967.666667,-12611.000000,-9716.666667,-3238.333333,-3475.666667,-3122.666667
9,-9800.666667,-1615.000000,-7767.333333,-4433.333333,-6719.000000,-6061.333333,-6574.333333,-1626.333333,-1061.333333,-8344.666667,-9866.666667,-3575.666667,-3476.000000,-3045.333333
10,-9547.666667,-1691.000000,-7731.666667,-4466.666667,-6981.333333,-5954.666667,-6652.333333,-1713.000000,-1174.666667,-9238.666667,-10066.666667,-3549.333333,-3635.666667,-3109.333333
11,-9510.333333,-1860.000000,-7585.000000,-4513.333333,-7422.666667,-7618.333333,-6809.666667,-1946.000000,-1220.000000,-4657.666667,-10866.666667,-3562.333333,-3818.000000,-3356.000000
12,-9819.333333,-1428.000000,-7629.333333,-4966.666667,-7817.000000,-7688.000000,-6941.333333,-2042.666667,-1438.666667,-15430.666667,-10933.333333,-3742.000000,-4137.000000,-3476.000000
13,-10605.000000,-2069.666667,-7896.333333,-4893.333333,-8426.000000,NaN,NaN,-2161.000000,-3407.000000,-14525.000000,-11433.333333,-4099.000000,-4406.333333,-3727.333333

In [7]:
data_backforwardfilled=data_noyear.bfill()
data_backforwardfilled

,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
0,-6965.333333,-903.166667,-6408.000000,-3449.333333,-6863.000000,-4368.000000,-5357.666667,-867.500000,-832.500000,-9110.333333,-11197.000000,-2590.500000,-3069.500000,-2321.666667
1,-7652.000000,-1097.500000,-6692.000000,-3449.333333,-6863.000000,-4406.166667,-5917.333333,-1195.833333,-844.833333,-9330.000000,-11473.000000,-2578.166667,-3295.500000,-2363.333333
2,-8151.666667,-1187.166667,-6893.833333,-3449.333333,-6863.000000,-4232.666667,-5728.555556,-1431.666667,-964.000000,-10159.666667,-12051.000000,-2452.000000,-3535.666667,-2956.666667
3,-8242.666667,-1054.166667,-6599.500000,-3747.500000,-9060.500000,-4560.666667,-6090.666667,-1178.166667,-839.666667,-10045.166667,-11997.000000,-2460.333333,-3397.166667,-2941.333333
4,-8079.333333,-1103.166667,-6809.500000,-3911.000000,-9318.500000,-4740.166667,-6238.666667,-1096.500000,-693.666667,-10127.333333,-10760.000000,-2621.333333,-3417.333333,-3038.666667
5,-8415.000000,-1265.166667,-7129.333333,-4099.000000,-7446.200000,-4910.000000,-6316.333333,-1236.166667,-733.333333,-11111.666667,-10050.000000,-2884.333333,-3395.000000,-2996.666667
6,-8666.333333,-1343.833333,-7422.666667,-4271.666667,-6098.000000,-5504.500000,-6554.500000,-1308.833333,-801.166667,-11769.166667,-10987.500000,-2444.666667,-3296.500000,-2980.666667
7,-9248.000000,-1463.000000,-7328.000000,-4426.666667,-6190.333333,-5898.500000,-6492.000000,-1378.333333,-910.333333,-12167.833333,-9400.000000,-3140.666667,-3234.333333,-3013.666667
8,-9230.333333,-1477.333333,-7649.333333,-4500.000000,-6355.000000,-5740.666667,-6508.333333,-1509.000000,-967.666667,-12611.000000,-9716.666667,-3238.333333,-3475.666667,-3122.666667
9,-9800.666667,-1615.000000,-7767.333333,-4433.333333,-6719.000000,-6061.333333,-6574.333333,-1626.333333,-1061.333333,-8344.666667,-9866.666667,-3575.666667,-3476.000000,-3045.333333
10,-9547.666667,-1691.000000,-7731.666667,-4466.666667,-6981.333333,-5954.666667,-6652.333333,-1713.000000,-1174.666667,-9238.666667,-10066.666667,-3549.333333,-3635.666667,-3109.333333
11,-9510.333333,-1860.000000,-7585.000000,-4513.333333,-7422.666667,-7618.333333,-6809.666667,-1946.000000,-1220.000000,-4657.666667,-10866.666667,-3562.333333,-3818.000000,-3356.000000
12,-9819.333333,-1428.000000,-7629.333333,-4966.666667,-7817.000000,-7688.000000,-6941.333333,-2042.666667,-1438.666667,-15430.666667,-10933.333333,-3742.000000,-4137.000000,-3476.000000
13,-10605.000000,-2069.666667,-7896.333333,-4893.333333,-8426.000000,NaN,NaN,-2161.000000,-3407.000000,-14525.000000,-11433.333333,-4099.000000,-4406.333333,-3727.333333
14,NaN,NaN,-7953.666667,NaN,NaN,NaN,NaN,-2371.000000,NaN,NaN,-11466.666667,NaN,NaN,NaN

In [8]:
data_interpolate=data_noyear.interpolate()
data_interpolate

,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
0,-6965.333333,-903.166667,-6408.000000,NaN,NaN,-4368.000000,-5357.666667,-867.500000,-832.500000,-9110.333333,-11197.000000,-2590.500000,-3069.500000,-2321.666667
1,-7652.000000,-1097.500000,-6692.000000,NaN,NaN,-4406.166667,-5917.333333,-1195.833333,-844.833333,-9330.000000,-11473.000000,-2578.166667,-3295.500000,-2363.333333
2,-8151.666667,-1187.166667,-6893.833333,-3449.333333,-6863.000000,-4232.666667,-5728.555556,-1431.666667,-964.000000,-10159.666667,-12051.000000,-2452.000000,-3535.666667,-2956.666667
3,-8242.666667,-1054.166667,-6599.500000,-3747.500000,-9060.500000,-4560.666667,-6090.666667,-1178.166667,-839.666667,-10045.166667,-11997.000000,-2460.333333,-3397.166667,-2941.333333
4,-8079.333333,-1103.166667,-6809.500000,-3911.000000,-9318.500000,-4740.166667,-6238.666667,-1096.500000,-693.666667,-10127.333333,-10760.000000,-2621.333333,-3417.333333,-3038.666667
5,-8415.000000,-1265.166667,-7129.333333,-4099.000000,-7446.200000,-4910.000000,-6316.333333,-1236.166667,-733.333333,-11111.666667,-10050.000000,-2884.333333,-3395.000000,-2996.666667
6,-8666.333333,-1343.833333,-7422.666667,-4271.666667,-6098.000000,-5504.500000,-6554.500000,-1308.833333,-801.166667,-11769.166667,-10987.500000,-2444.666667,-3296.500000,-2980.666667
7,-9248.000000,-1463.000000,-7328.000000,-4426.666667,-6190.333333,-5898.500000,-6492.000000,-1378.333333,-910.333333,-12167.833333,-9400.000000,-3140.666667,-3234.333333,-3013.666667
8,-9230.333333,-1477.333333,-7649.333333,-4500.000000,-6355.000000,-5740.666667,-6508.333333,-1509.000000,-967.666667,-12611.000000,-9716.666667,-3238.333333,-3475.666667,-3122.666667
9,-9800.666667,-1615.000000,-7767.333333,-4433.333333,-6719.000000,-6061.333333,-6574.333333,-1626.333333,-1061.333333,-8344.666667,-9866.666667,-3575.666667,-3476.000000,-3045.333333
10,-9547.666667,-1691.000000,-7731.666667,-4466.666667,-6981.333333,-5954.666667,-6652.333333,-1713.000000,-1174.666667,-9238.666667,-10066.666667,-3549.333333,-3635.666667,-3109.333333
11,-9510.333333,-1860.000000,-7585.000000,-4513.333333,-7422.666667,-7618.333333,-6809.666667,-1946.000000,-1220.000000,-4657.666667,-10866.666667,-3562.333333,-3818.000000,-3356.000000
12,-9819.333333,-1428.000000,-7629.333333,-4966.666667,-7817.000000,-7688.000000,-6941.333333,-2042.666667,-1438.666667,-15430.666667,-10933.333333,-3742.000000,-4137.000000,-3476.000000
13,-10605.000000,-2069.666667,-7896.333333,-4893.333333,-8426.000000,-7688.000000,-6941.333333,-2161.000000,-3407.000000,-14525.000000,-11433.333333,-4099.000000,-4406.333333,-3727.333333
14,-10605.000000,-2069.666667,-7953.666667,-4893.333333,-8426.000000,-7688.000000,-6941.333333,-2371.000000,-3407.000000,-14525.000000,-11466.666667,-4099.000000,-4406.333333,-3727.333333

In [9]:
data_noyear.describe()

,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
count,14.000000,14.000000,15.000000,12.000000,12.000000,13.000000,13.000000,15.000000,14.000000,14.000000,15.000000,14.000000,14.000000,14.000000
mean,-8852.404762,-1397.011905,-7299.700000,-4306.541667,-7391.461111,-5514.128205,-6321.670940,-1537.466667,-1134.916667,-10616.345238,-10817.700000,-3067.047619,-3542.119048,-3032.095238
std,992.655174,329.832238,507.507640,443.590852,1080.579600,1151.175776,448.908082,432.096753,685.375796,2684.376984,828.647033,563.214509,360.759624,368.972295
min,-10605.000000,-2069.666667,-7953.666667,-4966.666667,-9318.500000,-7688.000000,-6941.333333,-2371.000000,-3407.000000,-15430.666667,-12051.000000,-4099.000000,-4406.333333,-3727.333333
25%,-9538.333333,-1580.583333,-7690.500000,-4503.333333,-7969.250000,-5954.666667,-6574.333333,-1829.500000,-1146.333333,-12068.166667,-11450.000000,-3559.083333,-3610.666667,-3119.333333
50%,-8948.333333,-1385.916667,-7422.666667,-4430.000000,-7202.000000,-5504.500000,-6492.000000,-1431.666667,-937.166667,-10143.500000,-10933.333333,-3012.500000,-3446.500000,-3026.166667
75%,-8174.416667,-1124.166667,-6851.666667,-4052.000000,-6628.000000,-4560.666667,-6090.666667,-1216.000000,-834.291667,-9261.500000,-10058.333333,-2581.250000,-3321.125000,-2962.666667
max,-6965.333333,-903.166667,-6408.000000,-3449.333333,-6098.000000,-4232.666667,-5357.666667,-867.500000,-693.666667,-4657.666667,-9400.000000,-2444.666667,-3069.500000,-2321.666667

EURO_COUNTRIES = ['Austria', 'Estonia', 'Finland', 'France', 'Germany', 'Ireland','Italy', 'Latvia','Lithuania','Luxembourg', 'Netherlands', 'Portugal','Slovenia','Spain']

In [10]:
data_backfilled_missingdropped=data_backforwardfilled.dropna()

In [11]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Austria'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: -1.92
Critial Values:
   1%, -4.14
Critial Values:
   5%, -3.15
Critial Values:
   10%, -2.71

p-value: 0.32
Stationary

In [12]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Estonia'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: -1.07
Critial Values:
   1%, -4.22
Critial Values:
   5%, -3.19
Critial Values:
   10%, -2.73

p-value: 0.73
Stationary

In [13]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Finland'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: -4.15
Critial Values:
   1%, -4.67
Critial Values:
   5%, -3.37
Critial Values:
   10%, -2.80

p-value: 0.00
Non-Stationary

In [14]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['France'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: 0.06
Critial Values:
   1%, -4.14
Critial Values:
   5%, -3.15
Critial Values:
   10%, -2.71

p-value: 0.96
Stationary

In [15]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Germany'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: -2.62
Critial Values:
   1%, -4.67
Critial Values:
   5%, -3.37
Critial Values:
   10%, -2.80

p-value: 0.09
Stationary

In [16]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Ireland'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: 0.29
Critial Values:
   1%, -4.14
Critial Values:
   5%, -3.15
Critial Values:
   10%, -2.71

p-value: 0.98
Stationary

In [17]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Italy'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: -2.32
Critial Values:
   1%, -4.67
Critial Values:
   5%, -3.37
Critial Values:
   10%, -2.80

p-value: 0.17
Stationary

In [18]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Spain'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: 0.80
Critial Values:
   1%, -4.33
Critial Values:
   5%, -3.23
Critial Values:
   10%, -2.75

p-value: 0.99
Stationary

In [19]:
len(data_backfilled_missingdropped['Spain'])
#14 countries, 13 rows, 182 variables

13