# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [71]:
# import numpy and pandas
import numpy as np
import scipy as sp
from scipy import stats
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = (6,4)
import pandas as pd
import math
import statistics
from scipy.stats import ttest_ind_from_stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('Desktop\pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [16]:
# Your code here:
pokemon["Legendary"].values.sum()

65

In [17]:
(~pokemon["Legendary"]).values.sum()

735

In [6]:
print(pokemon.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB
None

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [78]:
pokemon["Total"].values.sum()

41430.0

In [13]:
pokemon["Legendary"]=pokemon["Legendary"].astype(int)
pokemon["Legendary"].head()

0    0
1    0
2    0
3    0
4    0
Name: Legendary, dtype: int32

In [28]:
pokemon.groupby('Legendary').agg({'Total':'mean'})

                Total
Legendary
0          417.213605
1          637.384615

In [31]:
pokemon.groupby('Legendary').agg({'Total':'stdev'})

AttributeError: 'SeriesGroupBy' object has no attribute 'stdev'

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [43]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,0
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,0
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,0
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,0
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,0
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,0

In [72]:
# Your code here:
def ttest(p1, p2, weapons=['Toal', 'HP', 'Attack', 'Defense', 'Sp.Atk', 'Sp.Def', 'Speed']):
    results = {t:stats.ttest_ind(p1[t], p2[t])[1] for t in weapons}
    return results

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
p1: sample1
P2: sample2
#list of weapons
dictionary #for t-test and p-value
this is the comparison of unequal samples. 
Hence, variance ought to be calibrated by size

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [51]:
# Your code here:

unique_type1=pd.concat([pokemon['Type 1']]).unique()
unique_type1

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [53]:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [62]:
from scipy.stats import ttest_rel

In [73]:
water_Normal=stats.ttest.rel(pokemon['Water'], pokemon['Normal'])

AttributeError: module 'scipy.stats' has no attribute 'ttest'

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [9]:
# Your code here:
var_a=a.var(pokemon['Water'])
var_b=b.var(pokemon[#Others])
    
t=(a.mean()-b.mean()) / (s*np.sqrt(1/a.size+1 / b.size))

print("t=" +str(t))

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [76]:
# Your code here:
from scipy.stats import ttest_rel_from_stats

ImportError: cannot import name 'ttest_rel_from_stats' from 'scipy.stats' (C:\Users\dvjp3\anaconda3\lib\site-packages\scipy\stats\__init__.py)

Describe the results of the test in the cell below.

In [75]:
# Your conclusions here:
attack_defense=stats.ttest.rel(pokemon['Attack'], pokemon['Defence'])

AttributeError: module 'scipy.stats' has no attribute 'ttest'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [13]:
# Your code here:
special_attack_defence=stats.ttest.rel(pokemon['Sp.Atk'], pokemon['Sp.Def'])

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: